In [17]:
import pandas as pd
import os

In [18]:
gdp = "GDP_Growth.csv"
gdp_df = pd.read_csv(gdp, sep="\t")
gdp_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","GDP per capita growth (annual %)"...
3  Africa Eastern and Southern,"AFE","GDP per cap...
4  Afghanistan,"AFG","GDP per capita growth (annu...
5  Africa Western and Central,"AFW","GDP per capi...
6  Angola,"AGO","GDP per capita growth (annual %)...
7  Albania,"ALB","GDP per capita growth (annual %...
8  Andorra,"AND","GDP per capita growth (annual %...
9  Arab World,"ARB","GDP per capita growth (annua...

In [19]:
list(gdp_df)

['Data Source,"World Development Indicators",']

In [20]:
# Get the contents of row 2
row_2_data = gdp_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [21]:
split_data = gdp_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_gdp_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_gdp_df = pd.concat([cleaned_gdp_df, split_data.iloc[:, 4:]], axis=1)
cleaned_gdp_df = cleaned_gdp_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_gdp_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""2.88516618544072""","""1.51593791406077""","""4.91713876742246""","""4.73833038397655""","""0.181216309197723""","""-18.6983243537002""","""17.2253004018797""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-2.34297354000095""","""5.09399196578835""","""2.33079606875697""","""1.72402096043484""","""2.43621527890161""",...,"""0.166839637757079""","""-0.490259075567408""","""-0.10588633336323""","""-0.169822405441494""","""-0.587557018399707""","""-5.42166221698315""","""1.68355673118708""","""0.842506639677993""",,None
3,Afghanistan,"""AFG""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""-1.66641641520391""","""-0.345802496981889""","""-0.253593781811986""","""-1.68857659267114""","""0.932833388709597""","""-5.3646659309623""","""-22.9291944307147""","""""",,None
4,Africa Western and Central,"""AFW""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-0.255511351747927""","""1.59294217712238""","""4.97870998351004""","""3.1302314152464""","""1.79876056473303""",...,"""0.0260160622438406""","""-2.51927409834653""","""-0.38269079571522""","""0.140162280475892""","""0.563580469542387""","""-3.45312417907287""","""1.37216006946974""","""1.19266768111382""",,None

In [22]:
# Assign row 0 as column names
cleaned_gdp_df.columns = cleaned_gdp_df.iloc[0]

# Remove any quotation marks from column names
cleaned_gdp_df.columns = cleaned_gdp_df.columns.str.replace('"', '')  

# Drop row 0 from the DataFrame
cleaned_gdp_df = cleaned_gdp_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_gdp_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
232,Togo,"""TGO""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""10.3371653359903""","""2.06806790463847""","""3.19461781125196""","""11.967928788341""","""12.4315207505602""",...,"""3.1273797180715""","""2.96706987799446""","""1.80388490415469""","""2.60517036287666""","""2.42284081657979""","""-0.433796943220827""","""3.51185967118215""","""3.37271324487263""",,None
243,Tunisia,"""TUN""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""-0.157752756538599""","""0.0107963170930248""","""1.14914304799336""","""1.57907863261791""","""0.607712765167861""","""-9.66066157516066""","""3.54356060864632""","""1.74869859787252""",,None
20,Bangladesh,"""BGD""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""3.01980165923581""","""2.33866931593639""","""-3.40541391726758""","""7.66892636903435""","""-1.39102097827588""",...,"""5.29106080830215""","""5.80321039762626""","""5.26645511283064""","""6.08023776882422""","""6.68765439756285""","""2.27110927857356""","""5.71664908722495""","""5.95484484128914""",,None
255,British Virgin Islands,"""VGB""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
186,Peru,"""PER""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""4.21329263756583""","""6.83379582721666""","""1.31865568665582""","""3.4783790134538""","""2.58009228733293""",...,"""2.04895673228597""","""2.54786708172743""","""0.985513944113038""","""2.03724979302511""","""0.306641968886368""","""-12.1539382486511""","""12.0359010397389""","""1.67626960792973""",,None

In [23]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2010, 2021)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = cleaned_gdp_df[selected_columns]

cleaned_gdp_df = selected_columns

cleaned_gdp_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"""ABW""","""-3.82701299563932""","""2.40034245209328""","""-1.83397735596419""","""5.63531750282364""","""-0.709567170830184""","""2.88516618544072""","""1.51593791406077""","""4.91713876742246""","""4.73833038397655""","""0.181216309197723""","""-18.6983243537002"""
1,Africa Eastern and Southern,"""AFE""","""2.33631297255835""","""0.942903059297279""","""-1.84483331792869""","""1.40045661230546""","""1.18675917210587""","""0.166839637757079""","""-0.490259075567408""","""-0.10588633336323""","""-0.169822405441494""","""-0.587557018399707""","""-5.42166221698315"""
2,Afghanistan,"""AFG""","""11.0992199166219""","""-3.21136429567835""","""8.24714425211255""","""2.00252214522922""","""-0.964803329240652""","""-1.66641641520391""","""-0.345802496981889""","""-0.253593781811986""","""-1.68857659267114""","""0.932833388709597""","""-5.3646659309623"""
3,Africa Western and Central,"""AFW""","""4.01030864854583""","""1.94853007873905""","""2.26111318643053""","""3.2579229637624""","""3.09363459555263""","""0.0260160622438406""","""-2.51927409834653""","""-0.38269079571522""","""0.140162280475892""","""0.563580469542387""","""-3.45312417907287"""
4,Angola,"""AGO""","""0.571220940848207""","""-0.345062435335691""","""4.53805378017384""","""1.10633103462652""","""1.03072911796671""","""-2.64297533030704""","""-6.01189077751143""","""-3.63069503801748""","""-4.67666958432599""","""-4.01711416103254""","""-8.67243212911843"""
5,Albania,"""ALB""","""4.22308382721044""","""2.82164245514005""","""1.58487281451019""","""1.18723435286199""","""1.98538809180384""","""2.51682705417127""","""3.48029321671386""","""3.89811226746693""","""4.27631155105293""","""2.52354084280566""","""-2.74523867757104"""
6,Andorra,"""AND""","""1.2226877027027""","""1.34089389241103""","""-5.57125554315211""","""-4.02602703426984""","""2.14093898224779""","""1.25741601269149""","""2.57450458774666""","""-1.41657902035861""","""-0.00387029555736262""","""0.238296569502523""","""-12.7350775611172"""
7,Arab World,"""ARB""","""2.23648841121474""","""1.30990195669621""","""2.92183744686159""","""0.311814859734""","""0.167322011408586""","""1.26562540365644""","""1.54640368826848""","""-0.832822320031241""","""0.344381769040865""","""-0.671140196057024""","""-6.71249524062264"""
8,United Arab Emirates,"""ARE""","""-4.25638586310046""","""5.76343344219433""","""3.69120130502168""","""4.01269214543069""","""3.17420248692079""","""5.81735787132587""","""4.65350539500164""","""-0.0873260713745054""","""0.517239888701809""","""0.323686526806853""","""-5.73104452161624"""
9,Argentina,"""ARG""","""9.84429639847724""","""4.78868313859435""","""-2.14528444981812""","""1.26568517537076""","""-3.57858050983289""","""1.62966427946263""","""-3.11006389821465""","""1.75764818265694""","""-3.60160975657155""","""-2.96956249866219""","""-10.8126108522948"""

In [24]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_gdp_df = cleaned_gdp_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_gdp_df.columns[2:13]:
    cleaned_gdp_df[column] = pd.to_numeric(cleaned_gdp_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_gdp_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,-3.827013,2.400342,-1.833977,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738330,0.181216,-18.698324
1,Africa Eastern and Southern,AFE,2.336313,0.942903,-1.844833,1.400457,1.186759,0.166840,-0.490259,-0.105886,-0.169822,-0.587557,-5.421662
2,Afghanistan,AFG,11.099220,-3.211364,8.247144,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666
3,Africa Western and Central,AFW,4.010309,1.948530,2.261113,3.257923,3.093635,0.026016,-2.519274,-0.382691,0.140162,0.563580,-3.453124
4,Angola,AGO,0.571221,-0.345062,4.538054,1.106331,1.030729,-2.642975,-6.011891,-3.630695,-4.676670,-4.017114,-8.672432

In [25]:
#Perform data interpolation on the numeric columns
cleaned_gdp_df = cleaned_gdp_df.interpolate()
cleaned_gdp_df.head(5)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,-3.827013,2.400342,-1.833977,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738330,0.181216,-18.698324
1,Africa Eastern and Southern,AFE,2.336313,0.942903,-1.844833,1.400457,1.186759,0.166840,-0.490259,-0.105886,-0.169822,-0.587557,-5.421662
2,Afghanistan,AFG,11.099220,-3.211364,8.247144,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666
3,Africa Western and Central,AFW,4.010309,1.948530,2.261113,3.257923,3.093635,0.026016,-2.519274,-0.382691,0.140162,0.563580,-3.453124
4,Angola,AGO,0.571221,-0.345062,4.538054,1.106331,1.030729,-2.642975,-6.011891,-3.630695,-4.676670,-4.017114,-8.672432

In [26]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_gdp_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="GDP")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year    GDP
0                  Afghanistan          AFG  2010  11.10
1  Africa Eastern and Southern          AFE  2010   2.34
2   Africa Western and Central          AFW  2010   4.01
3                      Albania          ALB  2010   4.22
4                      Algeria          DZA  2010   1.69

In [27]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/GDP.csv', index=False)