In [1]:
#Import Dependancies
import pandas as pd
import os

In [2]:
#Import File
per_remitt = 'Personal_Remittance.csv'
per_remitt_df = pd.read_csv(per_remitt,  sep="\t")
per_remitt_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Personal remittances, received (c...
3  Africa Eastern and Southern,"AFE","Personal re...
4  Afghanistan,"AFG","Personal remittances, recei...
5  Africa Western and Central,"AFW","Personal rem...
6  Angola,"AGO","Personal remittances, received (...
7  Albania,"ALB","Personal remittances, received ...
8  Andorra,"AND","Personal remittances, received ...
9  Arab World,"ARB","Personal remittances, receiv...

In [3]:
list(per_remitt_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = per_remitt_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
# Split columns
split_data = per_remitt_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_per_remitt_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_per_remitt_df = pd.concat([split_per_remitt_df, split_data.iloc[:, 4:]], axis=1)
split_per_remitt_df = split_per_remitt_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_per_remitt_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""7465211.17318436""","""8083713.40782122""","""52682566.1467022""","""56140340.1581912""","""36920295.448098""","""34264018.270972""","""34984040.4172566""","""35845637.1605112""","""38203853.3533978""",
2,Africa Eastern and Southern,"""AFE""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""10608587690.0081""","""10991481423.6928""","""10178689992.9643""","""10677675760.0106""","""14844760351.3452""","""14398726897.8061""","""13764891638.0122""","""16275554661.6633""","""18609324567.8369""",
3,Afghanistan,"""AFG""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""253367821.603343""","""348624717.302647""","""627710802.377386""","""822731630.245558""","""803546453.786557""","""828571904.111179""","""788917115.24523""","""300000000""","""350000000""",
4,Africa Western and Central,"""AFW""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""29072581838.8663""","""31217369941.6298""","""28385443647.8886""","""31597258310.6296""","""34559660467.4575""","""32586252955.0223""","""29206550132.4702""","""32148770623.1765""","""33171084793.7117""",
5,Angola,"""AGO""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""30971119.270778""","""11114711.6""","""3988048.38""","""1418195.84""","""1579247.15""","""3445473.46759301""","""8053050.89441933""","""12631149.3197743""","""14005491.4763133""",
6,Albania,"""ALB""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""1421007454.36595""","""1290863508.09402""","""1306009166.92504""","""1311822432.138""","""1458210055.85311""","""1472812241.61037""","""1465987212.49097""","""1718355918.32179""","""1745245135.76651""",
7,Andorra,"""AND""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""21100000""","""47416323.7388305""","""""","""""",
8,Arab World,"""ARB""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""53122149553.083""","""49328023741.0255""","""48647574274.7084""","""51685563032.7971""","""54416712130.9952""","""57002178442.6096""","""59467776316.4004""","""68619047376.259""","""68597506272.0447""",
9,United Arab Emirates,"""ARE""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",

In [6]:
# Assign row 0 as column names
split_per_remitt_df.columns = split_per_remitt_df.iloc[0]

# Remove any quotation marks from column names
split_per_remitt_df.columns = split_per_remitt_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_per_remitt_df = split_per_remitt_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_per_remitt_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""7465211.17318436""","""8083713.40782122""","""52682566.1467022""","""56140340.1581912""","""36920295.448098""","""34264018.270972""","""34984040.4172566""","""35845637.1605112""","""38203853.3533978""",
1,Africa Eastern and Southern,"""AFE""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""10608587690.0081""","""10991481423.6928""","""10178689992.9643""","""10677675760.0106""","""14844760351.3452""","""14398726897.8061""","""13764891638.0122""","""16275554661.6633""","""18609324567.8369""",
2,Afghanistan,"""AFG""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""253367821.603343""","""348624717.302647""","""627710802.377386""","""822731630.245558""","""803546453.786557""","""828571904.111179""","""788917115.24523""","""300000000""","""350000000""",
3,Africa Western and Central,"""AFW""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""29072581838.8663""","""31217369941.6298""","""28385443647.8886""","""31597258310.6296""","""34559660467.4575""","""32586252955.0223""","""29206550132.4702""","""32148770623.1765""","""33171084793.7117""",
4,Angola,"""AGO""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""30971119.270778""","""11114711.6""","""3988048.38""","""1418195.84""","""1579247.15""","""3445473.46759301""","""8053050.89441933""","""12631149.3197743""","""14005491.4763133""",
5,Albania,"""ALB""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""1421007454.36595""","""1290863508.09402""","""1306009166.92504""","""1311822432.138""","""1458210055.85311""","""1472812241.61037""","""1465987212.49097""","""1718355918.32179""","""1745245135.76651""",
6,Andorra,"""AND""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""21100000""","""47416323.7388305""","""""","""""",
7,Arab World,"""ARB""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""53122149553.083""","""49328023741.0255""","""48647574274.7084""","""51685563032.7971""","""54416712130.9952""","""57002178442.6096""","""59467776316.4004""","""68619047376.259""","""68597506272.0447""",
8,United Arab Emirates,"""ARE""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
9,Argentina,"""ARG""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""505346891.730357""","""494433532.139966""","""391579047.663514""","""479937459.808431""","""522441503.008565""","""561398444.719758""","""651020615.830325""","""911591594.092384""","""1258499654.17536""",

In [7]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2000, 2023)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_per_remitt_df[selected_columns]

cleaned_per_remitt_df = selected_columns

cleaned_per_remitt_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,"""ABW""","""608938.547486034""","""1083798.88268156""","""1335195.53072626""","""1329608.93854749""","""273743.016759777""","""1458100.55865922""","""819846.096273242""","""1036166.00246323""",...,"""4860335.19553072""","""6337950.83798883""","""7465211.17318436""","""8083713.40782122""","""52682566.1467022""","""56140340.1581912""","""36920295.448098""","""34264018.270972""","""34984040.4172566""","""35845637.1605112"""
1,Africa Eastern and Southern,"""AFE""","""2697573266.34114""","""2604068623.33186""","""1998851126.77586""","""2342595416.42209""","""2880425018.77975""","""3711097135.80359""","""3400273865.25281""","""3885943669.54681""",...,"""9539966327.25311""","""9473592326.1259""","""10608587690.0081""","""10991481423.6928""","""10178689992.9643""","""10677675760.0106""","""14844760351.3452""","""14398726897.8061""","""13764891638.0122""","""16275554661.6633"""
2,Afghanistan,"""AFG""","""""","""""","""""","""""","""""","""""","""0""","""0""",...,"""219416087.481463""","""347165291.814146""","""253367821.603343""","""348624717.302647""","""627710802.377386""","""822731630.245558""","""803546453.786557""","""828571904.111179""","""788917115.24523""","""300000000"""
3,Africa Western and Central,"""AFW""","""2081216505.88553""","""2197264227.37598""","""2085343579.15916""","""2286595770.44209""","""2635146673.88301""","""4102042871.08094""","""16722662965.16""","""19409694975.2072""",...,"""27691377000.3324""","""28076823908.16""","""29072581838.8663""","""31217369941.6298""","""28385443647.8886""","""31597258310.6296""","""34559660467.4575""","""32586252955.0223""","""29206550132.4702""","""32148770623.1765"""
4,Angola,"""AGO""","""""","""""","""""","""""","""""","""""","""0""","""0""",...,"""40348853.9894801""","""36637411.3401682""","""30971119.270778""","""11114711.6""","""3988048.38""","""1418195.84""","""1579247.15""","""3445473.46759301""","""8053050.89441933""","""12631149.3197743"""
5,Albania,"""ALB""","""407200000""","""597800000""","""699300000""","""733570000""","""888748582.309638""","""1160672105.01954""","""1289704315.92613""","""1359467324.66364""",...,"""1419772515.43027""","""1281848113.75308""","""1421007454.36595""","""1290863508.09402""","""1306009166.92504""","""1311822432.138""","""1458210055.85311""","""1472812241.61037""","""1465987212.49097""","""1718355918.32179"""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""21100000""","""47416323.7388305""",""""""
7,Arab World,"""ARB""","""11621826045.419""","""11476946812.593""","""12851715141.7269""","""15829429504.1508""","""20315498457.1518""","""23393335357.452""","""22640992844.8193""","""24459749069.3236""",...,"""45933616316.8183""","""47228856824.5072""","""53122149553.083""","""49328023741.0255""","""48647574274.7084""","""51685563032.7971""","""54416712130.9952""","""57002178442.6096""","""59467776316.4004""","""68619047376.259"""
8,United Arab Emirates,"""ARE""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
9,Argentina,"""ARG""","""64300000""","""86343658.5898822""","""189600000""","""206630000""","""273420000""","""311780000""","""432090000""","""540635441.916292""",...,"""577532962.100773""","""535004409.367289""","""505346891.730357""","""494433532.139966""","""391579047.663514""","""479937459.808431""","""522441503.008565""","""561398444.719758""","""651020615.830325""","""911591594.092384"""

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_per_remitt_df = cleaned_per_remitt_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_per_remitt_df.columns[2:25]:
    cleaned_per_remitt_df[column] = pd.to_numeric(cleaned_per_remitt_df[column], errors='coerce')
    
# List of columns from "2010" to "2020"
# Generate the list of columns from "2000" to "2022"
start_year = 2000
end_year = 2022
numerical_columns = [str(year) for year in range(start_year, end_year + 1)]

# Divide the columns by 1 Million
cleaned_per_remitt_df[numerical_columns] = cleaned_per_remitt_df[numerical_columns].div(1000000)

# Display the updated DataFrame
cleaned_per_remitt_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,0.608939,1.083799,1.335196,1.329609,0.273743,1.458101,0.819846,1.036166,...,4.860335,6.337951,7.465211,8.083713,52.682566,56.140340,36.920295,34.264018,34.984040,35.845637
1,Africa Eastern and Southern,AFE,2697.573266,2604.068623,1998.851127,2342.595416,2880.425019,3711.097136,3400.273865,3885.943670,...,9539.966327,9473.592326,10608.587690,10991.481424,10178.689993,10677.675760,14844.760351,14398.726898,13764.891638,16275.554662
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,...,219.416087,347.165292,253.367822,348.624717,627.710802,822.731630,803.546454,828.571904,788.917115,300.000000
3,Africa Western and Central,AFW,2081.216506,2197.264227,2085.343579,2286.595770,2635.146674,4102.042871,16722.662965,19409.694975,...,27691.377000,28076.823908,29072.581839,31217.369942,28385.443648,31597.258311,34559.660467,32586.252955,29206.550132,32148.770623
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,...,40.348854,36.637411,30.971119,11.114712,3.988048,1.418196,1.579247,3.445473,8.053051,12.631149

In [9]:
# Perform data interpolation on the numeric columns
cleaned_per_remitt_df = cleaned_per_remitt_df.interpolate()
cleaned_per_remitt_df.head(5)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,0.608939,1.083799,1.335196,1.329609,0.273743,1.458101,0.819846,1.036166,...,4.860335,6.337951,7.465211,8.083713,52.682566,56.140340,36.920295,34.264018,34.984040,35.845637
1,Africa Eastern and Southern,AFE,2697.573266,2604.068623,1998.851127,2342.595416,2880.425019,3711.097136,3400.273865,3885.943670,...,9539.966327,9473.592326,10608.587690,10991.481424,10178.689993,10677.675760,14844.760351,14398.726898,13764.891638,16275.554662
2,Afghanistan,AFG,2389.394886,2400.666425,2042.097353,2314.595593,2757.785846,3906.570003,0.000000,0.000000,...,219.416087,347.165292,253.367822,348.624717,627.710802,822.731630,803.546454,828.571904,788.917115,300.000000
3,Africa Western and Central,AFW,2081.216506,2197.264227,2085.343579,2286.595770,2635.146674,4102.042871,16722.662965,19409.694975,...,27691.377000,28076.823908,29072.581839,31217.369942,28385.443648,31597.258311,34559.660467,32586.252955,29206.550132,32148.770623
4,Angola,AGO,1244.208253,1397.532114,1392.321790,1510.082885,1761.947628,2631.357488,0.000000,0.000000,...,40.348854,36.637411,30.971119,11.114712,3.988048,1.418196,1.579247,3.445473,8.053051,12.631149

In [10]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_per_remitt_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Personal Remittance ($M)")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year", "Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Personal Remittance ($M)
0                  Afghanistan          AFG  2000                   2389.39
1  Africa Eastern and Southern          AFE  2000                   2697.57
2   Africa Western and Central          AFW  2000                   2081.22
3                      Albania          ALB  2000                    407.20
4                      Algeria          DZA  2000                    790.00

In [11]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Personal_Remittance.csv', index=False)