In [77]:
import pandas as pd
import os

In [78]:
internet_usage = "Individuals_Internet_usage.csv"
internet_usage_df = pd.read_csv(internet_usage, sep="\t")
internet_usage_df

           Data Source,"World Development Indicators",
0                      Last Updated Date,"2023-06-29",
1    Country Name,"Country Code","Indicator Name","...
2    Aruba,"ABW","Individuals using the Internet (%...
3    Africa Eastern and Southern,"AFE","Individuals...
4    Afghanistan,"AFG","Individuals using the Inter...
..                                                 ...
263  Kosovo,"XKX","Individuals using the Internet (...
264  Yemen, Rep.,"YEM","Individuals using the Inter...
265  South Africa,"ZAF","Individuals using the Inte...
266  Zambia,"ZMB","Individuals using the Internet (...
267  Zimbabwe,"ZWE","Individuals using the Internet...

[268 rows x 1 columns]

In [79]:
list(internet_usage_df)

['Data Source,"World Development Indicators",']

In [80]:
# Get the contents of row 2
row_2_data = internet_usage_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [81]:
# Split the column on the comma and place in a list.
for column in columns:
    column_names = column.split(",")
print(len(column_names))

68

In [82]:
split_data = internet_usage_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_internet_usage_df= pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_internet_usage_df = pd.concat([cleaned_internet_usage_df, split_data.iloc[:, 4:]], axis=1)
cleaned_internet_usage_df = cleaned_internet_usage_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_internet_usage_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""88.66122693""","""93.54245387""","""97.17""","""""","""""","""""","""""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""14.4858491534531""","""15.753329822739""","""17.3109868719447""","""20.0630242595526""","""22.5895992519959""","""24.9884008681592""","""27.660653781351""","""""",,None
3,Afghanistan,"""AFG""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""8.26""","""11""","""13.5""","""16.8""","""17.6""","""18.4""","""""","""""",,None
4,Africa Western and Central,"""AFW""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""18.1094850427716""","""22.8697496052977""","""27.0812193846418""","""32.0893370172076""","""35.2764479325331""","""41.7498190724143""","""46.9904973070537""","""""",,None

In [83]:
# Define a function to remove double quotes from each cell
def remove_quotes(cell_value):
    if cell_value is not None:
        return cell_value.replace('"', '')
    else:
        return cell_value

# Use applymap() to remove double quotes from the entire DataFrame
cleaned_internet_usage_df_final = cleaned_internet_usage_df.applymap(remove_quotes)

# Display the first five rows of the cleaned DataFrame
cleaned_internet_usage_df_final.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
1,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,88.66122693,93.54245387,97.17,,,,,,,None
2,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,14.4858491534531,15.753329822739,17.3109868719447,20.0630242595526,22.5895992519959,24.9884008681592,27.660653781351,,,None
3,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,8.26,11,13.5,16.8,17.6,18.4,,,,None
4,Africa Western and Central,AFW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,18.1094850427716,22.8697496052977,27.0812193846418,32.0893370172076,35.2764479325331,41.7498190724143,46.9904973070537,,,None

In [84]:
# Assign row 0 as column names
cleaned_internet_usage_df.columns = cleaned_internet_usage_df.iloc[0]
cleaned_internet_usage_df.columns = cleaned_internet_usage_df.columns.str.replace('"', '')  # Remove any quotation marks from column names

# Drop row 0 from the DataFrame
cleaned_internet_usage_df = cleaned_internet_usage_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_internet_usage_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
259,World,"""WLD""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""40.2700586394911""","""43.2159445206951""","""45.5430731807617""","""49.1575632107554""","""53.7488850962876""","""59.641841734233""","""63.0951866940772""","""""",,None
131,Liberia,"""LBR""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""10""","""15.7""","""16.3""","""18.9""","""23.48259047""","""27.95308059""","""33.63315905""","""""",,None
205,Saudi Arabia,"""SAU""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""69.6162358""","""74.87927469""","""94.17559961""","""93.31000185""","""95.7247356""","""97.8623325""","""100""","""""",,None
225,Sint Maarten (Dutch part),"""SXM""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
16,Burundi,"""BDI""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""0""","""""","""""","""""","""""","""0""",...,"""2""","""2.2""","""2.660748535""","""2.7""","""2.731443388""","""3.787954422""","""5.804921577""","""""",,None

In [85]:
# Define a function to remove double quotes from each cell
def remove_quotes(cell_value):
    if cell_value is not None:
        return cell_value.replace('"', '')
    else:
        return cell_value

# Use applymap() to remove double quotes from the entire DataFrame
cleaned_internet_usage_df_final = cleaned_internet_usage_df.applymap(remove_quotes)

# Display the first five rows of the cleaned DataFrame
cleaned_internet_usage_df_final.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,88.66122693,93.54245387,97.17,,,,,,,None
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,14.4858491534531,15.753329822739,17.3109868719447,20.0630242595526,22.5895992519959,24.9884008681592,27.660653781351,,,None
2,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,8.26,11,13.5,16.8,17.6,18.4,,,,None
3,Africa Western and Central,AFW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,18.1094850427716,22.8697496052977,27.0812193846418,32.0893370172076,35.2764479325331,41.7498190724143,46.9904973070537,,,None
4,Angola,AGO,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,22,23.2,26,29,32.12939197,32.55014678,32.60230173,,,None

In [86]:
# Convert columns to float data type
for column in cleaned_internet_usage_df_final.columns[55:66]:
    cleaned_internet_usage_df_final[column] = pd.to_numeric(cleaned_internet_usage_df_final[column], errors='coerce')

# Display the DataFrame with the specified columns converted to float
cleaned_internet_usage_df_final.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,88.661227,93.542454,97.170000,NaN,NaN,NaN,NaN,,,None
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,14.485849,15.753330,17.310987,20.063024,22.589599,24.988401,27.660654,,,None
2,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,8.260000,11.000000,13.500000,16.800000,17.600000,18.400000,NaN,,,None
3,Africa Western and Central,AFW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,18.109485,22.869750,27.081219,32.089337,35.276448,41.749819,46.990497,,,None
4,Angola,AGO,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,22.000000,23.200000,26.000000,29.000000,32.129392,32.550147,32.602302,,,None

In [87]:
# # Convert columns to float data type
# for column in cleaned_internet_usage_df_final.columns[60:67]:
#     cleaned_internet_usage_df_final[column] = pd.to_numeric(cleaned_internet_usage_df_final[column], errors='coerce')

# # Fill non-finite values (NaN) with a default value (e.g., 0)
# cleaned_internet_usage_df_final.fillna(0, inplace=True)

# # Convert the specified columns from float to integer data type
# cleaned_internet_usage_df_final.iloc[:, 60:67] = cleaned_internet_usage_df_final.iloc[:, 60:67].astype(int)

# # Display the DataFrame with the specified columns converted to integer
# cleaned_internet_usage_df_final.head(5)

In [88]:
cleaned_internet_usage_df_final.dtypes

0
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960               object
                   ...
2020              float64
2021              float64
2022               object
                   object
None               object
Length: 69, dtype: object

In [89]:
# Slice the DataFrame from column index 55 to 65 (inclusive)
selected_columns = cleaned_internet_usage_df_final.iloc[:, 55:66]
# Get the column names of the selected columns
column_names = selected_columns.columns.tolist()
# Print the column names
print(column_names)

['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [93]:
import numpy as np

# Replace 0 with NaN in the DataFrame
cleaned_internet_usage_df_final.replace(0, np.nan, inplace=True)

# Calculate the latest value for each row in columns , ignoring NaN values and considering the last non-NaN value
if cleaned_internet_usage_df_final.shape[1] >= 66:
    latest = cleaned_internet_usage_df_final.iloc[:, 55:66].apply(lambda row: row.dropna().iloc[-1] if not row.dropna().empty else np.nan, axis=1)
else:
    latest = cleaned_internet_usage_df_final.iloc[:, 55:].apply(lambda row: row.dropna().iloc[-1] if not row.dropna().empty else np.nan, axis=1)

# Add the latest values as a new column named "individuals_%_use_int" to the DataFrame
cleaned_internet_usage_df_final['individuals_%_use_int'] = latest

# Display the DataFrame to verify the changes
cleaned_internet_usage_df_final.sample(50)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,,None,individuals_%_use_int
127,Kuwait,KWT,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,85.600000,97.999989,99.598850,99.542676,99.105870,99.700000,,,None,99.700000
253,St. Vincent and the Grenadines,VCT,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,51.500000,53.700000,56.000000,73.968343,80.429529,84.912814,,,None,84.912814
54,Czechia,CZE,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,76.481199,78.719173,80.688168,80.866944,81.338897,82.670624,,,None,82.670624
134,Latin America & Caribbean,LCN,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,57.543933,60.262433,63.604152,68.750810,73.999883,76.113162,,,None,76.113162
81,United Kingdom,GBR,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,94.775801,90.424550,90.692009,92.516629,94.818201,96.680237,,,None,96.680237
160,Myanmar,MMR,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,16.000000,23.621082,28.700000,30.635365,41.954290,44.021673,,,None,44.021673
246,Tanzania,TZA,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,13.504233,15.999999,17.100000,18.277257,23.447509,31.633131,,,None,31.633131
188,Palau,PLW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,,,None,NaN
209,Solomon Islands,SLB,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,11.000902,11.924229,NaN,28.195529,35.881458,36.131954,,,None,36.131954
85,Guinea,GIN,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,13.100000,18.700000,21.830023,23.366260,28.823231,34.680124,,,None,34.680124
139,Lower middle income,LMC,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,23.809153,26.697322,29.807321,36.398658,45.556107,49.157926,,,None,49.157926
167,Mauritius,MUS,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,52.191326,55.403240,58.596170,61.729955,64.884904,67.580000,,,None,67.580000
238,Middle East & North Africa (IDA & IBRD countries),TMN,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,42.919906,48.447840,54.085029,62.118133,68.281995,73.174283,,,None,73.174283
42,Cameroon,CMR,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,20.600000,23.202972,29.700000,36.539182,45.529223,45.602174,,,None,45.602174
182,Oman,OMN,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,76.845390,80.185636,85.500000,90.259441,95.232293,96.380075,,,None,96.380075
44,Congo,Rep.,COG,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,...,7.615975,8.121949,8.650000,NaN,NaN,NaN,,,,8.650000
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,15.753330,17.310987,20.063024,22.589599,24.988401,27.660654,,,None,27.660654
249,Upper middle income,UMC,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,52.712717,55.232623,60.145029,65.379801,70.833121,74.312800,,,None,74.312800
80,Gabon,GAB,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,48.052274,50.320120,59.600000,68.685503,70.788748,71.749406,,,None,71.749406
233,Thailand,THA,Individuals using the Internet (% of population),IT.NET.USER.ZS,0,,,,,0,...,47.504966,52.891929,56.817481,66.652419,77.843741,85.270000,,,None,85.270000
62,Early-demographic dividend,EAR,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,27.127434,29.897141,32.750218,39.591888,48.174755,51.891112,,,None,51.891112
186,Peru,PER,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,45.461741,50.450412,55.054334,59.950504,65.251798,71.107825,,,None,71.107825
16,Burundi,BDI,Individuals using the Internet (% of population),IT.NET.USER.ZS,0,,,,,0,...,2.200000,2.660749,2.700000,2.731443,3.787954,5.804922,,,None,5.804922
113,Iraq,IRQ,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,19.900000,26.000000,33.900000,44.326347,45.786370,48.917187,,,None,48.917187
213,Somalia,SOM,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,1.880000,2.004049,NaN,NaN,NaN,NaN,,,None,2.004049
222,Slovenia,SVN,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,75.498504,78.885426,79.749977,83.108358,86.601301,89.003995,,,None,89.003995
99,Croatia,HRV,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,72.697270,67.096192,75.294626,79.079784,78.320933,81.253966,,,None,81.253966
223,Sweden,SWE,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,89.650948,93.006267,89.246963,94.493443,94.539431,88.307786,,,None,88.307786
205,Saudi Arabia,SAU,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,74.879275,94.175600,93.310002,95.724736,97.862332,100.000000,,,None,100.000000
89,Greece,GRC,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,69.087915,69.892971,72.238373,75.671207,78.115845,78.494264,,,None,78.494264
86,Gambia,The,GMB,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,...,17.600000,19.900000,22.500000,25.500000,28.804872,31.604191,32.96228971,,,31.604191
217,Sub-Saharan Africa,SSF,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,18.636308,21.270233,24.825270,27.764927,31.824290,35.861739,,,None,35.861739
59,Dominican Republic,DOM,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,63.870865,67.571245,74.822048,79.715454,82.198306,85.242986,,,None,85.242986
91,Greenland,GRL,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,68.500874,69.482462,NaN,NaN,NaN,NaN,,,None,69.482462
12,Antigua and Barbuda,ATG,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,73.000000,NaN,NaN,95.707631,95.685508,95.663389,,,None,95.663389
211,El Salvador,SLV,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,28.997073,33.820729,43.800000,50.491194,54.601370,62.880287,,,None,62.880287
208,Singapore,SGP,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,84.452268,84.452268,88.165636,88.949253,92.004347,91.099378,,,None,91.099378
10,Armenia,ARM,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,64.346030,64.744884,68.245052,66.543950,76.507701,78.612258,,,None,78.612258
150,Moldova,MDA,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,46.700000,49.900000,50.300000,57.760486,59.152949,61.287762,,,None,61.287762
153,Middle East & North Africa,MEA,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,48.408765,54.883535,60.225838,67.333917,72.772948,77.232966,,,None,77.232966
243,Tunisia,TUN,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,49.599995,55.500155,64.190810,66.699998,72.807487,78.989651,,,None,78.989651
30,Barbados,BRB,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,79.549398,81.760778,82.480000,83.208813,82.458446,85.820000,,,None,85.820000
26,Belize,BLZ,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,44.575740,47.082626,49.800000,57.118442,59.506389,61.994170,,,None,61.994170
21,Bulgaria,BGR,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,59.825548,63.410101,64.782011,67.946981,70.162484,75.271446,,,None,75.271446
240,South Asia (IDA & IBRD),TSA,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,16.203713,18.012222,20.226459,27.990361,39.241749,42.847274,,,None,42.847274
95,High income,HIC,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,83.729766,85.316648,86.923444,88.249352,89.454786,90.101653,,,None,90.101653
90,Grenada,GRD,Individuals using the Internet (% of population),IT.NET.USER.ZS,0,,,,,0,...,53.300000,54.200000,61.400000,69.612190,74.721854,77.767237,,,None,77.767237
235,Turkmenistan,TKM,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,17.990324,21.250997,NaN,NaN,NaN,NaN,,,None,21.250997
48,Costa Rica,CRI,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,65.880449,71.581665,73.479728,81.202596,80.530186,82.750000,,,None,82.750000
122,Kyrgyz Republic,KGZ,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,40.500000,50.800000,57.100000,64.100000,72.000000,77.920359,,,None,77.920359

In [94]:
intusage_machine_df=cleaned_internet_usage_df_final[['Country Name','individuals_%_use_int']]
intusage_machine_df.sample(50)

0                                   Country Name  individuals_%_use_int
63                           East Asia & Pacific              72.234987
205                                 Saudi Arabia             100.000000
54                                       Czechia              82.670624
228                     Turks and Caicos Islands                    NaN
10                                       Armenia              78.612258
70                                         Spain              93.900000
187                                  Philippines              52.675738
137                                Liechtenstein              95.569376
189                             Papua New Guinea              32.054163
244                                      Turkiye              81.410000
265                                     Zimbabwe              34.813971
112                                         Iran              75.569866
7                                     Arab World              76.110960
87                                 Guinea-Bissau              35.154987
61   East Asia & Pacific (excluding high income)              70.290234
171                                      Namibia              52.973479
226                                   Seychelles              81.593072
157                              North Macedonia              83.018210
218                                 Small states              68.219722
163                                     Mongolia              84.330000
98        Heavily indebted poor countries (HIPC)              28.488518
179                                        Nauru              83.935216
261                                       Kosovo              89.443032
176                                  Netherlands              92.052980
49                        Caribbean small states              80.273303
40                                         China              73.050000
156                                Middle income              60.959329
225                    Sint Maarten (Dutch part)                    NaN
129                                      Lao PDR              62.000000
0                                          Aruba              97.170000
198                    Post-demographic dividend              89.196364
143                                    Lithuania              86.930558
152                                     Maldives              85.760583
116                                        Italy              74.862327
67                                         Egypt              71.914201
200                                        Qatar             100.000000
119                                        Japan              82.914079
74      Fragile and conflict affected situations              38.144704
105                                    IDA blend              39.340795
254                                    Venezuela              61.600000
68                                     Euro area              87.292599
120                                   Kazakhstan              90.920000
172                                New Caledonia              82.005841
18                                         Benin              33.965331
101                                      Hungary              88.640835
23                                       Bahamas              92.476020
249                          Upper middle income              74.312800
34                      Central African Republic              10.582640
234                                   Tajikistan              21.960000
90                                       Grenada              77.767237

In [95]:
# Create the "Output_Jibek" directory if it doesn't exist
output_directory = "../Output_Jibek"
if not os.path.exists(output_directory):
    os.makedirs(output_directory)
# Save the cleaned DataFrame to a CSV file in the specified directory
intusage_machine_df.to_csv(os.path.join(output_directory, 'intusage_machine_df'), index=False)