In [1]:
import pandas as pd
import os

In [2]:
mhtech_export= "Med_and_High_Tech_Export.csv"
mhtech_export_df = pd.read_csv(mhtech_export, sep="\t")
mhtech_export_df.head(5)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Medium and high-tech exports (% m...
3  Africa Eastern and Southern,"AFE","Medium and ...
4  Afghanistan,"AFG","Medium and high-tech export...

In [3]:
list(mhtech_export_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = mhtech_export_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
# Split the column on the comma and place in a list.
for column in columns:
    column_names = column.split(",")
print(len(column_names))

68

In [6]:
split_data = mhtech_export_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_mhtech_export_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_mhtech_export_df = pd.concat([cleaned_mhtech_export_df, split_data.iloc[:, 4:]], axis=1)
cleaned_mhtech_export_df = cleaned_mhtech_export_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_mhtech_export_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
3,Afghanistan,"""AFG""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""0.049830316297558""","""0""","""2.1227775439483""","""1.38004934462267""","""0.340942887488212""","""0.340942887488212""","""""","""""",,None
4,Africa Western and Central,"""AFW""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None

In [7]:
# Assign row 0 as column names
cleaned_mhtech_export_df.columns = cleaned_mhtech_export_df.iloc[0]
cleaned_mhtech_export_df.columns = cleaned_mhtech_export_df.columns.str.replace('"', '')  # Remove any quotation marks from column names

# Drop row 0 from the DataFrame
cleaned_mhtech_export_df = cleaned_mhtech_export_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_mhtech_export_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
203,Rwanda,"""RWA""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""13.6369709680042""","""11.9183220514868""","""4.12927476192155""","""8.18816575183258""","""8.29637291866133""","""8.29637291866133""","""""","""""",,None
5,Albania,"""ALB""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""9.07477891395605""","""10.1886855480472""","""3.55658987481563""","""4.80493925313439""","""4.53238570977472""","""9.26370572357964""","""""","""""",,None
13,Australia,"""AUS""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""21.7575027580663""","""21.8180222008308""","""19.024013530856""","""20.6364079512663""","""18.8131126786951""","""15.7099048469836""","""""","""""",,None
54,Czechia,"""CZE""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""68.9585053452756""","""69.1075969392362""","""69.8739536602451""","""70.9543763389556""","""71.8644980665147""","""71.8414354826788""","""""","""""",,None
84,Gibraltar,"""GIB""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None

In [8]:
# Define a function to remove double quotes from each cell
def remove_quotes(cell_value):
    if cell_value is not None:
        return cell_value.replace('"', '')
    else:
        return cell_value

# Use applymap() to remove double quotes from the entire DataFrame
cleaned_mhtech_export_df = cleaned_mhtech_export_df.applymap(remove_quotes)

# Display the first five rows of the cleaned DataFrame
cleaned_mhtech_export_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,,,,,,,,,,None
1,Africa Eastern and Southern,AFE,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,,,,,,,,,,None
2,Afghanistan,AFG,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,0.049830316297558,0,2.1227775439483,1.38004934462267,0.340942887488212,0.340942887488212,,,,None
3,Africa Western and Central,AFW,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,,,,,,,,,,None
4,Angola,AGO,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,49.2634423582802,40.0510689198201,24.7264779257463,57.6611417740173,23.6998947292577,23.6998947292577,,,,None

In [10]:
# Convert columns 5 to 68 to float data type
for column in cleaned_mhtech_export_df.columns[60:67]:
    cleaned_mhtech_export_df[column] = pd.to_numeric(cleaned_mhtech_export_df[column], errors='coerce')

# Display the DataFrame with the specified columns converted to float
cleaned_mhtech_export_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
109,India,IND,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,33.8905663476031,34.070524,33.842463,34.773128,36.668956,40.035603,NaN,NaN,,None
206,Sudan,SDN,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None
218,Small states,SST,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None
34,Central African Republic,CAF,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,80.4630280592523,65.083474,84.539586,63.704256,63.704256,63.704256,NaN,NaN,,None
240,South Asia (IDA & IBRD),TSA,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None

In [11]:
cleaned_mhtech_export_df.dtypes

0
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960               object
                   ...
2020              float64
2021              float64
2022              float64
                   object
None               object
Length: 69, dtype: object

In [13]:
# Calculate the average for each row in columns 5 to 68
average = cleaned_mhtech_export_df.iloc[:, 60:67].mean(axis=1)
# Add the average values as a new column named "Average" to the DataFrame
cleaned_mhtech_export_df['MHTexports_%manufac'] = average
cleaned_mhtech_export_df.sample(50)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,,None,MHTexports_%manufac
6,Andorra,AND,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
175,Nicaragua,NIC,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,26.746116,23.030847,20.832346,19.767642,17.312528,NaN,NaN,,None,21.537896
27,Bermuda,BMU,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,28.589657,41.763394,63.720315,72.324249,25.364985,NaN,NaN,,None,46.352520
125,St. Kitts and Nevis,KNA,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
85,Guinea,GIN,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
117,Jamaica,JAM,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,1.604626,1.311690,1.202267,1.490401,1.438267,NaN,NaN,,None,1.409450
147,St. Martin (French part),MAF,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
212,San Marino,SMR,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
203,Rwanda,RWA,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,11.918322,4.129275,8.188166,8.296373,8.296373,NaN,NaN,,None,8.165702
135,Least developed countries: UN classification,LDC,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
177,Norway,NOR,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,55.099544,48.080222,44.806831,46.863694,49.349279,NaN,NaN,,None,48.839914
44,Congo,Rep.,COG,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,...,97.202991,96.124485,90.199402,78.971911,39.272163,57.089411,NaN,,,76.476727
97,Honduras,HND,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,39.811236,33.269643,27.395404,23.580714,23.580714,NaN,NaN,,None,29.527542
5,Albania,ALB,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,10.188686,3.556590,4.804939,4.532386,9.263706,NaN,NaN,,None,6.469261
68,Euro area,EMU,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
218,Small states,SST,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
10,Armenia,ARM,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,10.706889,13.253415,14.736832,15.247786,12.397230,NaN,NaN,,None,13.268431
96,Hong Kong SAR,China,HKG,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,...,38.812731,38.751022,38.751022,38.751022,38.751022,38.751022,NaN,,,38.761307
11,American Samoa,ASM,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
105,IDA blend,IDB,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
200,Qatar,QAT,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,40.972476,32.500561,37.982505,28.072598,73.995225,NaN,NaN,,None,42.704673
202,Russian Federation,RUS,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,29.921959,28.448409,26.082903,27.456219,28.424931,NaN,NaN,,None,28.066884
178,Nepal,NPL,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,18.022892,16.991631,15.500842,11.167737,11.167737,NaN,NaN,,None,14.570168
238,Middle East & North Africa (IDA & IBRD countries),TMN,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
62,Early-demographic dividend,EAR,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
119,Japan,JPN,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,81.308174,81.032873,80.661454,80.608708,81.530845,NaN,NaN,,None,81.028411
140,Low & middle income,LMY,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
124,Kiribati,KIR,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
145,Latvia,LVA,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,42.911910,42.715377,43.352167,42.180238,43.978964,NaN,NaN,,None,43.027731
261,Kosovo,XKX,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
37,Switzerland,CHE,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,71.355662,69.954118,70.201348,71.033040,71.567356,NaN,NaN,,None,70.822305
219,Sao Tome and Principe,STP,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
211,El Salvador,SLV,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,14.181923,14.740202,15.174131,14.747967,17.167520,NaN,NaN,,None,15.202349
205,Saudi Arabia,SAU,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,36.153171,61.022459,58.986599,60.158636,60.087424,NaN,NaN,,None,55.281658
87,Guinea-Bissau,GNB,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
92,Guatemala,GTM,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,21.140688,20.882233,21.539311,23.230789,24.959516,NaN,NaN,,None,22.350507
162,Montenegro,MNE,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,24.743023,23.487445,26.108672,26.501470,30.688948,NaN,NaN,,None,26.305911
141,Lesotho,LSO,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
171,Namibia,NAM,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,4.013598,1.510926,1.911642,1.701347,1.462088,NaN,NaN,,None,2.119920
188,Palau,PLW,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
9,Argentina,ARG,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,44.118493,45.423432,46.242756,42.696595,36.383623,NaN,NaN,,None,42.972980
241,Sub-Saharan Africa (IDA & IBRD countries),TSS,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
61,East Asia & Pacific (excluding high income),EAP,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
134,Latin America & Caribbean,LCN,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
157,North Macedonia,MKD,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,59.514755,59.475136,62.322803,64.983520,65.412551,NaN,NaN,,None,62.341753
56,Djibouti,DJI,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
118,Jordan,JOR,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,37.784920,36.473040,37.445749,35.503028,37.428558,NaN,NaN,,None,36.927059
122,Kyrgyz Republic,KGZ,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,36.978485,28.823301,17.346734,17.612245,20.887977,NaN,NaN,,None,24.329748
36,Central Europe and the Baltics,CEB,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN
210,Sierra Leone,SLE,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,NaN