In [13]:
import pandas as pd
import os

In [2]:
gdp = "GDP_Growth.csv"
gdp_df = pd.read_csv(gdp, sep="\t")
gdp_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","GDP per capita growth (annual %)"...
3  Africa Eastern and Southern,"AFE","GDP per cap...
4  Afghanistan,"AFG","GDP per capita growth (annu...
5  Africa Western and Central,"AFW","GDP per capi...
6  Angola,"AGO","GDP per capita growth (annual %)...
7  Albania,"ALB","GDP per capita growth (annual %...
8  Andorra,"AND","GDP per capita growth (annual %...
9  Arab World,"ARB","GDP per capita growth (annua...

In [3]:
list(gdp_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = gdp_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
split_data = gdp_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_gdp_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_gdp_df = pd.concat([cleaned_gdp_df, split_data.iloc[:, 4:]], axis=1)
cleaned_gdp_df = cleaned_gdp_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_gdp_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""2.88516618544072""","""1.51593791406077""","""4.91713876742246""","""4.73833038397655""","""0.181216309197723""","""-18.6983243537002""","""17.2253004018797""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-2.34297354000095""","""5.09399196578835""","""2.33079606875697""","""1.72402096043484""","""2.43621527890161""",...,"""0.166839637757079""","""-0.490259075567408""","""-0.10588633336323""","""-0.169822405441494""","""-0.587557018399707""","""-5.42166221698315""","""1.68355673118708""","""0.842506639677993""",,None
3,Afghanistan,"""AFG""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""-1.66641641520391""","""-0.345802496981889""","""-0.253593781811986""","""-1.68857659267114""","""0.932833388709597""","""-5.3646659309623""","""-22.9291944307147""","""""",,None
4,Africa Western and Central,"""AFW""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-0.255511351747927""","""1.59294217712238""","""4.97870998351004""","""3.1302314152464""","""1.79876056473303""",...,"""0.0260160622438406""","""-2.51927409834653""","""-0.38269079571522""","""0.140162280475892""","""0.563580469542387""","""-3.45312417907287""","""1.37216006946974""","""1.19266768111382""",,None

In [6]:
# Assign row 0 as column names
cleaned_gdp_df.columns = cleaned_gdp_df.iloc[0]

# Remove any quotation marks from column names
cleaned_gdp_df.columns = cleaned_gdp_df.columns.str.replace('"', '')  

# Drop row 0 from the DataFrame
cleaned_gdp_df = cleaned_gdp_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_gdp_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
167,Mauritius,"""MUS""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""3.55335696562737""","""3.79113070734437""","""3.84430800639895""","""3.9500354872734""","""2.85812532389771""","""-14.5993542738002""","""3.37325128946304""","""9.01882450659544""",,None
203,Rwanda,"""RWA""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-6.82596660307418""","""8.64256580912716""","""-11.7755195884438""","""-14.4049491558883""","""4.29353967576256""",...,"""6.29031105782323""","""3.41326145449072""","""1.39189190236844""","""5.92876900435083""","""6.87800201688384""","""-5.66229722308751""","""8.2779532711909""","""5.68599137923582""",,None
48,Costa Rica,"""CRI""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-1.7573665451509""","""1.73349362172767""","""3.21756723281376""","""0.182000952394603""","""4.67527509822226""",...,"""2.57317861066939""","""3.15151338793582""","""3.14326598621662""","""1.66130830993416""","""1.53529056646803""","""-4.99410158401747""","""7.13561306463883""","""3.76400500893411""",,None
142,Late-demographic dividend,"""LTE""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-4.42463717306511""","""1.67259420465007""","""1.85483299523122""","""5.18664795781257""","""4.60579000142101""",...,"""4.032538375587""","""3.83633408192556""","""4.64039896994012""","""4.85655263096983""","""4.1709398520714""","""-0.161904884630431""","""7.2097503782432""","""3.03807951079929""",,None
46,Comoros,"""COM""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""-1.01406895756402""","""1.10293207341641""","""1.7123618329055""","""1.68672159754276""","""-0.126909212225328""","""-2.07486139638723""","""0.190939004401898""","""0.534046630795132""",,None

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_gdp_df = cleaned_gdp_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_gdp_df.columns[2:13]:
    cleaned_gdp_df[column] = pd.to_numeric(cleaned_gdp_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_gdp_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,-3.827013,2.400342,-1.833977,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738330,0.181216,-18.698324
1,Africa Eastern and Southern,AFE,2.336313,0.942903,-1.844833,1.400457,1.186759,0.166840,-0.490259,-0.105886,-0.169822,-0.587557,-5.421662
2,Afghanistan,AFG,11.099220,-3.211364,8.247144,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666
3,Africa Western and Central,AFW,4.010309,1.948530,2.261113,3.257923,3.093635,0.026016,-2.519274,-0.382691,0.140162,0.563580,-3.453124
4,Angola,AGO,0.571221,-0.345062,4.538054,1.106331,1.030729,-2.642975,-6.011891,-3.630695,-4.676670,-4.017114,-8.672432

In [9]:
# Replace the NaN values with 0
cleaned_gdp_df.fillna(0, inplace=True)

cleaned_gdp_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,-3.827013,2.400342,-1.833977,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738330,0.181216,-18.698324
1,Africa Eastern and Southern,AFE,2.336313,0.942903,-1.844833,1.400457,1.186759,0.166840,-0.490259,-0.105886,-0.169822,-0.587557,-5.421662
2,Afghanistan,AFG,11.099220,-3.211364,8.247144,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666
3,Africa Western and Central,AFW,4.010309,1.948530,2.261113,3.257923,3.093635,0.026016,-2.519274,-0.382691,0.140162,0.563580,-3.453124
4,Angola,AGO,0.571221,-0.345062,4.538054,1.106331,1.030729,-2.642975,-6.011891,-3.630695,-4.676670,-4.017114,-8.672432
5,Albania,ALB,4.223084,2.821642,1.584873,1.187234,1.985388,2.516827,3.480293,3.898112,4.276312,2.523541,-2.745239
6,Andorra,AND,1.222688,1.340894,-5.571256,-4.026027,2.140939,1.257416,2.574505,-1.416579,-0.003870,0.238297,-12.735078
7,Arab World,ARB,2.236488,1.309902,2.921837,0.311815,0.167322,1.265625,1.546404,-0.832822,0.344382,-0.671140,-6.712495
8,United Arab Emirates,ARE,-4.256386,5.763433,3.691201,4.012692,3.174202,5.817358,4.653505,-0.087326,0.517240,0.323687,-5.731045
9,Argentina,ARG,9.844296,4.788683,-2.145284,1.265685,-3.578581,1.629664,-3.110064,1.757648,-3.601610,-2.969562,-10.812611

In [10]:
# Calculate the average for each country
average_by_country = cleaned_gdp_df.groupby('Country Code').apply(lambda group: group.drop(columns=['Country Name', 'Country Code']).mean(skipna=True, axis=1))

# Replace all 0.0 values with the corresponding country average
for col in cleaned_gdp_df.columns[2:]:
    cleaned_gdp_df[col] = cleaned_gdp_df.apply(lambda row: average_by_country[row['Country Code']][row.name] if row[col] == 0.0 else row[col], axis=1)

cleaned_gdp_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,-3.827013,2.400342,-1.833977,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738330,0.181216,-18.698324
1,Africa Eastern and Southern,AFE,2.336313,0.942903,-1.844833,1.400457,1.186759,0.166840,-0.490259,-0.105886,-0.169822,-0.587557,-5.421662
2,Afghanistan,AFG,11.099220,-3.211364,8.247144,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666
3,Africa Western and Central,AFW,4.010309,1.948530,2.261113,3.257923,3.093635,0.026016,-2.519274,-0.382691,0.140162,0.563580,-3.453124
4,Angola,AGO,0.571221,-0.345062,4.538054,1.106331,1.030729,-2.642975,-6.011891,-3.630695,-4.676670,-4.017114,-8.672432
5,Albania,ALB,4.223084,2.821642,1.584873,1.187234,1.985388,2.516827,3.480293,3.898112,4.276312,2.523541,-2.745239
6,Andorra,AND,1.222688,1.340894,-5.571256,-4.026027,2.140939,1.257416,2.574505,-1.416579,-0.003870,0.238297,-12.735078
7,Arab World,ARB,2.236488,1.309902,2.921837,0.311815,0.167322,1.265625,1.546404,-0.832822,0.344382,-0.671140,-6.712495
8,United Arab Emirates,ARE,-4.256386,5.763433,3.691201,4.012692,3.174202,5.817358,4.653505,-0.087326,0.517240,0.323687,-5.731045
9,Argentina,ARG,9.844296,4.788683,-2.145284,1.265685,-3.578581,1.629664,-3.110064,1.757648,-3.601610,-2.969562,-10.812611

In [11]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_gdp_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="GDP")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year    GDP
0                  Afghanistan          AFG  2010  11.10
1  Africa Eastern and Southern          AFE  2010   2.34
2   Africa Western and Central          AFW  2010   4.01
3                      Albania          ALB  2010   4.22
4                      Algeria          DZA  2010   1.69

In [12]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/GDP.csv', index=False)