In [1]:
import pandas as pd
import os

In [2]:
gdp = "GDP $.csv"
gdp_df = pd.read_csv(gdp, sep="\t")
gdp_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-07-25",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","GDP, PPP (current international $...
3  Africa Eastern and Southern,"AFE","GDP, PPP (c...
4  Afghanistan,"AFG","GDP, PPP (current internati...
5  Africa Western and Central,"AFW","GDP, PPP (cu...
6  Angola,"AGO","GDP, PPP (current international ...
7  Albania,"ALB","GDP, PPP (current international...
8  Andorra,"AND","GDP, PPP (current international...
9  Arab World,"ARB","GDP, PPP (current internatio...

In [3]:
list(gdp_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = gdp_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
split_data = gdp_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_gdp_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_gdp_df = pd.concat([cleaned_gdp_df, split_data.iloc[:, 4:]], axis=1)
cleaned_gdp_df = cleaned_gdp_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_gdp_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""GDP","PPP (current international $)""","""NY.GDP.MKTP.PP.CD""","""""","""""","""""","""""","""""",...,"""3817112401.26825""","""3893364333.81628""","""3941567670.02688""","""4097906578.10494""","""4417064467.95204""","""4524856401.48574""","""3731795744.44467""","""4569092261.05915""","""""",
2,Africa Eastern and Southern,"""AFE""","""GDP","PPP (current international $)""","""NY.GDP.MKTP.PP.CD""","""""","""""","""""","""""","""""",...,"""2026241172510.49""","""2099348409966.93""","""2214085446808.51""","""2300198069463.57""","""2420342050881.65""","""2520984279426.47""","""2483411690402.77""","""2712088944666.67""","""3005193179840.29""",
3,Afghanistan,"""AFG""","""GDP","PPP (current international $)""","""NY.GDP.MKTP.PP.CD""","""""","""""","""""","""""","""""",...,"""69058343420.1602""","""71831696727.8086""","""70097956089.2877""","""74711922906.3738""","""77417896456.4508""","""81889326057.2078""","""81007485782.9604""","""67125058170.0878""","""""",
4,Africa Western and Central,"""AFW""","""GDP","PPP (current international $)""","""NY.GDP.MKTP.PP.CD""","""""","""""","""""","""""","""""",...,"""1648816528881.71""","""1666362021611.45""","""1680690458095.38""","""1746659814390.76""","""1842199923197.45""","""1938546923359.28""","""1948499059417.26""","""2118340678652.46""","""2352820572267.09""",

In [6]:
# Assign row 0 as column names
cleaned_gdp_df.columns = cleaned_gdp_df.iloc[0]

# Remove any quotation marks from column names
cleaned_gdp_df.columns = cleaned_gdp_df.columns.str.replace('"', '')  

# Drop row 0 from the DataFrame
cleaned_gdp_df = cleaned_gdp_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_gdp_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
118,Jordan,"""JOR""","""GDP","PPP (current international $)""","""NY.GDP.MKTP.PP.CD""","""""","""""","""""","""""","""""",...,"""81884118369.6983""","""87705168918.814""","""90248991241.283""","""98364955803.8995""","""102662783219.064""","""106334606217.35""","""105991475716.701""","""113215500957.926""","""124179821929.945""",
25,Belarus,"""BLR""","""GDP","PPP (current international $)""","""NY.GDP.MKTP.PP.CD""","""""","""""","""""","""""","""""",...,"""179597347838.491""","""171204825316.404""","""168421837005.779""","""173629826921.652""","""183404174385.559""","""189394303488.369""","""190574660187.017""","""203993463197.108""","""208029997217.11""",
8,United Arab Emirates,"""ARE""","""GDP","PPP (current international $)""","""NY.GDP.MKTP.PP.CD""","""""","""""","""""","""""","""""",...,"""696795047329.33""","""621558729951.006""","""619289363587.993""","""645502807643.102""","""669706320998.707""","""689276222149.102""","""663657027501.023""","""720632244510.198""","""828262611787.266""",
150,Moldova,"""MDA""","""GDP","PPP (current international $)""","""NY.GDP.MKTP.PP.CD""","""""","""""","""""","""""","""""",...,"""24931777107.8502""","""26410710406.3437""","""29398801549.1217""","""31585536712.4739""","""33663117639.0224""","""35484282417.1452""","""32972328600.8654""","""39253108107.546""","""39504548757.0695""",
87,Guinea-Bissau,"""GNB""","""GDP","PPP (current international $)""","""NY.GDP.MKTP.PP.CD""","""""","""""","""""","""""","""""",...,"""2332574695.02558""","""2774674410.9887""","""3113471483.94557""","""3519615667.21345""","""3650498104.34971""","""3883204850.61039""","""3839464205.2595""","""4164418059.94966""","""4612114375.94001""",

In [7]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2000, 2023)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = cleaned_gdp_df[selected_columns]

cleaned_gdp_df = selected_columns

cleaned_gdp_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,"""ABW""","""2489269108.56888""","""2739557506.26564""","""2918819032.73677""","""2935918444.3107""","""3027419281.49456""","""3335031914.00273""","""3426372647.33396""","""3572323466.89337""",...,"""3552128685.83428""","""3799583106.75231""","""3817112401.26825""","""3893364333.81628""","""3941567670.02688""","""4097906578.10494""","""4417064467.95204""","""4524856401.48574""","""3731795744.44467""","""4569092261.05915"""
1,Africa Eastern and Southern,"""AFE""","""812829711711.237""","""860197991571.217""","""911902650924.004""","""962534872974.799""","""1013755148014.05""","""1099686705943.48""","""1204832789235.93""","""1324823866468.72""",...,"""1773172033288.61""","""1893724221523.31""","""2026241172510.49""","""2099348409966.93""","""2214085446808.51""","""2300198069463.57""","""2420342050881.65""","""2520984279426.47""","""2483411690402.77""","""2712088944666.67"""
2,Afghanistan,"""AFG""","""""","""""","""""","""19805683002.2132""","""21980384805.7144""","""22889600503.965""","""26258419343.9137""","""28518821097.8215""",...,"""59667003515.1962""","""65039839448.5561""","""69058343420.1602""","""71831696727.8086""","""70097956089.2877""","""74711922906.3738""","""77417896456.4508""","""81889326057.2078""","""81007485782.9604""","""67125058170.0878"""
3,Africa Western and Central,"""AFW""","""523136162568.061""","""554273616200.228""","""596251322888.947""","""662171174204.51""","""712448676349.116""","""789279578648.778""","""861377633019.425""","""935475826225.037""",...,"""1432608601178.84""","""1530241371854.96""","""1648816528881.71""","""1666362021611.45""","""1680690458095.38""","""1746659814390.76""","""1842199923197.45""","""1938546923359.28""","""1948499059417.26""","""2118340678652.46"""
4,Angola,"""AGO""","""51115326928.9188""","""53870124025.8162""","""57400615762.7073""","""66261666029.3691""","""69589731051.4179""","""79282432858.8008""","""94058409616.5689""","""108159616062.078""",...,"""186124222897.173""","""199865642365.2""","""220364785384.766""","""204603587403.35""","""204874675222.879""","""217987313632.158""","""220289370395.961""","""222666423233.882""","""212853789199.066""","""225084114192.846"""
5,Albania,"""ALB""","""10792578624.9517""","""11927761911.8775""","""13159425507.3736""","""14221986237.4723""","""15198978664.5557""","""16429520004.5125""","""17663248665.0743""","""19647966457.1019""",...,"""30530346334.9125""","""30603919227.8496""","""32529299302.5043""","""33585813506.4664""","""34739846844.6737""","""36696895966.9462""","""38690872399.9077""","""41121578859.7201""","""39911617919.4999""","""43672781505.2677"""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""2603134800056.88""","""2841196647123.48""","""2952144322010.89""","""3006523095650.11""","""3194146192633.55""","""3583949175173.54""","""3896152206710.42""","""4250199845804.65""",...,"""6068162812789.26""","""6179530280801.1""","""6217741378603.98""","""5750111786083.79""","""5691698461955.12""","""6072114248359.9""","""6387262626407.34""","""6607498752577.87""","""6388384775378.88""","""6924169621032.25"""
8,United Arab Emirates,"""ARE""","""271631571827.219""","""307932754817.313""","""319275636775.497""","""332142171598.234""","""368504523749.508""","""414595768291.327""","""448357188727.353""","""507658889400.053""",...,"""648603907769.107""","""664072628841.012""","""696795047329.33""","""621558729951.006""","""619289363587.993""","""645502807643.102""","""669706320998.707""","""689276222149.102""","""663657027501.023""","""720632244510.198"""
9,Argentina,"""ARG""","""421755390917.54""","""427907425395.381""","""418257187040.516""","""378498715336.167""","""420076980476.696""","""470302946671.598""","""527985868655.93""","""588076130259.074""",...,"""819697901873.041""","""849616000404.317""","""839896688260.086""","""867176759338.262""","""885227528869.049""","""1039330591568.54""","""1036459320093.75""","""1033942542333.22""","""943285699872.58""","""1088157531055.78"""

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_gdp_df = cleaned_gdp_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_gdp_df.columns[2:25]:
    cleaned_gdp_df[column] = pd.to_numeric(cleaned_gdp_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_gdp_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,2.489269e+09,2.739558e+09,2.918819e+09,2.935918e+09,3.027419e+09,3.335032e+09,3.426373e+09,3.572323e+09,...,3.552129e+09,3.799583e+09,3.817112e+09,3.893364e+09,3.941568e+09,4.097907e+09,4.417064e+09,4.524856e+09,3.731796e+09,4.569092e+09
1,Africa Eastern and Southern,AFE,8.128297e+11,8.601980e+11,9.119027e+11,9.625349e+11,1.013755e+12,1.099687e+12,1.204833e+12,1.324824e+12,...,1.773172e+12,1.893724e+12,2.026241e+12,2.099348e+12,2.214085e+12,2.300198e+12,2.420342e+12,2.520984e+12,2.483412e+12,2.712089e+12
2,Afghanistan,AFG,NaN,NaN,NaN,1.980568e+10,2.198038e+10,2.288960e+10,2.625842e+10,2.851882e+10,...,5.966700e+10,6.503984e+10,6.905834e+10,7.183170e+10,7.009796e+10,7.471192e+10,7.741790e+10,8.188933e+10,8.100749e+10,6.712506e+10
3,Africa Western and Central,AFW,5.231362e+11,5.542736e+11,5.962513e+11,6.621712e+11,7.124487e+11,7.892796e+11,8.613776e+11,9.354758e+11,...,1.432609e+12,1.530241e+12,1.648817e+12,1.666362e+12,1.680690e+12,1.746660e+12,1.842200e+12,1.938547e+12,1.948499e+12,2.118341e+12
4,Angola,AGO,5.111533e+10,5.387012e+10,5.740062e+10,6.626167e+10,6.958973e+10,7.928243e+10,9.405841e+10,1.081596e+11,...,1.861242e+11,1.998656e+11,2.203648e+11,2.046036e+11,2.048747e+11,2.179873e+11,2.202894e+11,2.226664e+11,2.128538e+11,2.250841e+11

In [9]:
#Perform data interpolation on the numeric columns
cleaned_gdp_df = cleaned_gdp_df.interpolate()
cleaned_gdp_df.head(5)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,2.489269e+09,2.739558e+09,2.918819e+09,2.935918e+09,3.027419e+09,3.335032e+09,3.426373e+09,3.572323e+09,...,3.552129e+09,3.799583e+09,3.817112e+09,3.893364e+09,3.941568e+09,4.097907e+09,4.417064e+09,4.524856e+09,3.731796e+09,4.569092e+09
1,Africa Eastern and Southern,AFE,8.128297e+11,8.601980e+11,9.119027e+11,9.625349e+11,1.013755e+12,1.099687e+12,1.204833e+12,1.324824e+12,...,1.773172e+12,1.893724e+12,2.026241e+12,2.099348e+12,2.214085e+12,2.300198e+12,2.420342e+12,2.520984e+12,2.483412e+12,2.712089e+12
2,Afghanistan,AFG,6.679829e+11,7.072358e+11,7.540770e+11,1.980568e+10,2.198038e+10,2.288960e+10,2.625842e+10,2.851882e+10,...,5.966700e+10,6.503984e+10,6.905834e+10,7.183170e+10,7.009796e+10,7.471192e+10,7.741790e+10,8.188933e+10,8.100749e+10,6.712506e+10
3,Africa Western and Central,AFW,5.231362e+11,5.542736e+11,5.962513e+11,6.621712e+11,7.124487e+11,7.892796e+11,8.613776e+11,9.354758e+11,...,1.432609e+12,1.530241e+12,1.648817e+12,1.666362e+12,1.680690e+12,1.746660e+12,1.842200e+12,1.938547e+12,1.948499e+12,2.118341e+12
4,Angola,AGO,5.111533e+10,5.387012e+10,5.740062e+10,6.626167e+10,6.958973e+10,7.928243e+10,9.405841e+10,1.081596e+11,...,1.861242e+11,1.998656e+11,2.203648e+11,2.046036e+11,2.048747e+11,2.179873e+11,2.202894e+11,2.226664e+11,2.128538e+11,2.250841e+11

In [10]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_gdp_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="GDP")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year           GDP
0                  Afghanistan          AFG  2000  6.679829e+11
1  Africa Eastern and Southern          AFE  2000  8.128297e+11
2   Africa Western and Central          AFW  2000  5.231362e+11
3                      Albania          ALB  2000  1.079258e+10
4                      Algeria          DZA  2000  2.467254e+11

In [11]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/GDP$.csv', index=False)