In [1]:
import pandas as pd
import os

In [2]:
gdp = "GDP_Growth.csv"
gdp_df = pd.read_csv(gdp, sep="\t")
gdp_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","GDP per capita growth (annual %)"...
3  Africa Eastern and Southern,"AFE","GDP per cap...
4  Afghanistan,"AFG","GDP per capita growth (annu...
5  Africa Western and Central,"AFW","GDP per capi...
6  Angola,"AGO","GDP per capita growth (annual %)...
7  Albania,"ALB","GDP per capita growth (annual %...
8  Andorra,"AND","GDP per capita growth (annual %...
9  Arab World,"ARB","GDP per capita growth (annua...

In [3]:
list(gdp_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = gdp_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
split_data = gdp_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_gdp_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_gdp_df = pd.concat([cleaned_gdp_df, split_data.iloc[:, 4:]], axis=1)
cleaned_gdp_df = cleaned_gdp_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_gdp_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""2.88516618544072""","""1.51593791406077""","""4.91713876742246""","""4.73833038397655""","""0.181216309197723""","""-18.6983243537002""","""17.2253004018797""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-2.34297354000095""","""5.09399196578835""","""2.33079606875697""","""1.72402096043484""","""2.43621527890161""",...,"""0.166839637757079""","""-0.490259075567408""","""-0.10588633336323""","""-0.169822405441494""","""-0.587557018399707""","""-5.42166221698315""","""1.68355673118708""","""0.842506639677993""",,None
3,Afghanistan,"""AFG""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""-1.66641641520391""","""-0.345802496981889""","""-0.253593781811986""","""-1.68857659267114""","""0.932833388709597""","""-5.3646659309623""","""-22.9291944307147""","""""",,None
4,Africa Western and Central,"""AFW""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-0.255511351747927""","""1.59294217712238""","""4.97870998351004""","""3.1302314152464""","""1.79876056473303""",...,"""0.0260160622438406""","""-2.51927409834653""","""-0.38269079571522""","""0.140162280475892""","""0.563580469542387""","""-3.45312417907287""","""1.37216006946974""","""1.19266768111382""",,None

In [6]:
# Assign row 0 as column names
cleaned_gdp_df.columns = cleaned_gdp_df.iloc[0]

# Remove any quotation marks from column names
cleaned_gdp_df.columns = cleaned_gdp_df.columns.str.replace('"', '')  

# Drop row 0 from the DataFrame
cleaned_gdp_df = cleaned_gdp_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_gdp_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
42,Cameroon,"""CMR""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""-0.42633351225416""","""1.03106160565272""","""1.37869676094769""","""1.14870557656226""","""-0.374427049787343""",...,"""2.39279741734246""","""1.45423267295178""","""0.648212633716412""","""1.1217952158362""","""0.643223200507023""","""-2.42243441821918""","""0.953583606597761""","""0.885522140064012""",,None
147,St. Martin (French part),"""MAF""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
204,South Asia,"""SAS""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""1.7716362035666""","""0.981180462929274""","""2.79031215715619""","""5.234961939024""","""-2.94360771636796""",...,"""6.03544499293713""","""6.39229513938777""","""5.24682911467991""","""5.0861803978574""","""2.76403766961361""","""-5.72161798697594""","""7.16471102744075""","""5.50329271193381""",,None
126,Korea,Rep.,"""KOR""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""3.80955476222881""","""0.966642374457535""","""6.02642587427952""","""6.64776951764121""",...,"""2.55621950883497""","""2.26842940068582""","""2.5391447288435""","""2.87019696151147""","""2.46224621613314""","""1.8889146004307""","""-0.846212237799236""","""4.32920746061889""","""2.79248208701075""",
115,Israel,"""ISR""","""GDP per capita growth (annual %)""","""NY.GDP.PCAP.KD.ZG""","""""","""7.5914133972726""","""4.96777845158294""","""6.6941025018924""","""3.75053725599865""","""5.3482500421121""",...,"""0.475269154590265""","""2.49264371119004""","""2.27442977959885""","""2.08447062883643""","""2.18667357283937""","""-3.57303741945609""","""6.87692635751118""","""4.39236075225769""",,None

In [7]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2000, 2023)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = cleaned_gdp_df[selected_columns]

cleaned_gdp_df = selected_columns

cleaned_gdp_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,"""ABW""","""4.91835385108675""","""2.36919299315137""","""-2.134006060887""","""0.117317036422548""","""6.31877676516297""","""-1.37914839490475""","""-0.0490843651328845""","""1.83873074125837""",...,"""5.63531750282364""","""-0.709567170830184""","""2.88516618544072""","""1.51593791406077""","""4.91713876742246""","""4.73833038397655""","""0.181216309197723""","""-18.6983243537002""","""17.2253004018797""",""""""
1,Africa Eastern and Southern,"""AFE""","""0.750783888997546""","""1.01109648611404""","""1.26208021163214""","""0.471842197209455""","""2.7890912539719""","""3.35642298749576""","""3.7543232784588""","""3.72757640336714""",...,"""1.40045661230546""","""1.18675917210587""","""0.166839637757079""","""-0.490259075567408""","""-0.10588633336323""","""-0.169822405441494""","""-0.587557018399707""","""-5.42166221698315""","""1.68355673118708""","""0.842506639677993"""
2,Afghanistan,"""AFG""","""""","""""","""""","""0.927029128491213""","""-2.49725463876793""","""7.32187384114641""","""1.08498820068206""","""11.8033826648298""",...,"""2.00252214522922""","""-0.964803329240652""","""-1.66641641520391""","""-0.345802496981889""","""-0.253593781811986""","""-1.68857659267114""","""0.932833388709597""","""-5.3646659309623""","""-22.9291944307147""",""""""
3,Africa Western and Central,"""AFW""","""0.956780029803326""","""2.33999459241289""","""6.91495719278062""","""2.64469845223682""","""5.02888880469629""","""2.90405723608802""","""2.47221980301131""","""2.62448453185414""",...,"""3.2579229637624""","""3.09363459555263""","""0.0260160622438406""","""-2.51927409834653""","""-0.38269079571522""","""0.140162280475892""","""0.563580469542387""","""-3.45312417907287""","""1.37216006946974""","""1.19266768111382"""
4,Angola,"""AGO""","""-0.234945632722756""","""0.838227322043267""","""9.93730724887301""","""-0.466060748026067""","""7.12707655508129""","""11.0095655823448""","""7.61421920521134""","""9.93510869891678""",...,"""1.10633103462652""","""1.03072911796671""","""-2.64297533030704""","""-6.01189077751143""","""-3.63069503801748""","""-4.67666958432599""","""-4.01711416103254""","""-8.67243212911843""","""-1.95459800636894""","""-0.096754729759283"""
5,Albania,"""ALB""","""7.63002243937019""","""9.31439713939355""","""4.85047533419143""","""5.9242115424577""","""5.9565695961824""","""6.06788243935723""","""6.57292298236362""","""6.78722893588666""",...,"""1.18723435286199""","""1.98538809180384""","""2.51682705417127""","""3.48029321671386""","""3.89811226746693""","""4.27631155105293""","""2.52354084280566""","""-2.74523867757104""","""9.92271370805365""","""6.2052753940383"""
6,Andorra,"""AND""","""2.8360535398907""","""5.37253298925349""","""0.0767023575421746""","""4.19683709369501""","""3.88238377731496""","""1.57804021890526""","""4.29262143453559""","""4.22037542039897""",...,"""-4.02602703426984""","""2.14093898224779""","""1.25741601269149""","""2.57450458774666""","""-1.41657902035861""","""-0.00387029555736262""","""0.238296569502523""","""-12.7350775611172""","""6.45944053180018""","""7.73271565222045"""
7,Arab World,"""ARB""","""4.18547189617048""","""-0.489799750078944""","""-1.46952395436679""","""2.65337821003655""","""6.51056860790315""","""3.09963500984243""","""3.47359187657659""","""1.83352245461634""",...,"""0.311814859734""","""0.167322011408586""","""1.26562540365644""","""1.54640368826848""","""-0.832822320031241""","""0.344381769040865""","""-0.671140196057024""","""-6.71249524062264""","""1.90928076787762""","""4.10106560107538"""
8,United Arab Emirates,"""ARE""","""4.83612964510461""","""-3.8515541466836""","""-2.62547169518371""","""3.6710471704011""","""4.63057627437276""","""-2.19042061275793""","""-4.01771539617427""","""-13.9233874024843""",...,"""4.01269214543069""","""3.17420248692079""","""5.81735787132587""","""4.65350539500164""","""-0.0873260713745054""","""0.517239888701809""","""0.323686526806853""","""-5.73104452161624""","""3.05240051957495""","""6.54663823524344"""
9,Argentina,"""ARG""","""-1.90698749835167""","""-5.45379697848054""","""-11.8459503938227""","""7.71922963663721""","""7.92815705080419""","""7.73249699851691""","""6.93498173764449""","""7.91621057164458""",...,"""1.26568517537076""","""-3.57858050983289""","""1.62966427946263""","""-3.11006389821465""","""1.75764818265694""","""-3.60160975657155""","""-2.96956249866219""","""-10.8126108522948""","""9.35717585932072""","""4.27316373772393"""

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_gdp_df = cleaned_gdp_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_gdp_df.columns[2:25]:
    cleaned_gdp_df[column] = pd.to_numeric(cleaned_gdp_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_gdp_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,4.918354,2.369193,-2.134006,0.117317,6.318777,-1.379148,-0.049084,1.838731,...,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738330,0.181216,-18.698324,17.225300,NaN
1,Africa Eastern and Southern,AFE,0.750784,1.011096,1.262080,0.471842,2.789091,3.356423,3.754323,3.727576,...,1.400457,1.186759,0.166840,-0.490259,-0.105886,-0.169822,-0.587557,-5.421662,1.683557,0.842507
2,Afghanistan,AFG,NaN,NaN,NaN,0.927029,-2.497255,7.321874,1.084988,11.803383,...,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666,-22.929194,NaN
3,Africa Western and Central,AFW,0.956780,2.339995,6.914957,2.644698,5.028889,2.904057,2.472220,2.624485,...,3.257923,3.093635,0.026016,-2.519274,-0.382691,0.140162,0.563580,-3.453124,1.372160,1.192668
4,Angola,AGO,-0.234946,0.838227,9.937307,-0.466061,7.127077,11.009566,7.614219,9.935109,...,1.106331,1.030729,-2.642975,-6.011891,-3.630695,-4.676670,-4.017114,-8.672432,-1.954598,-0.096755

In [9]:
#Perform data interpolation on the numeric columns
cleaned_gdp_df = cleaned_gdp_df.interpolate()
cleaned_gdp_df.head(5)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,4.918354,2.369193,-2.134006,0.117317,6.318777,-1.379148,-0.049084,1.838731,...,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738330,0.181216,-18.698324,17.225300,NaN
1,Africa Eastern and Southern,AFE,0.750784,1.011096,1.262080,0.471842,2.789091,3.356423,3.754323,3.727576,...,1.400457,1.186759,0.166840,-0.490259,-0.105886,-0.169822,-0.587557,-5.421662,1.683557,0.842507
2,Afghanistan,AFG,0.853782,1.675546,4.088519,0.927029,-2.497255,7.321874,1.084988,11.803383,...,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666,-22.929194,1.017587
3,Africa Western and Central,AFW,0.956780,2.339995,6.914957,2.644698,5.028889,2.904057,2.472220,2.624485,...,3.257923,3.093635,0.026016,-2.519274,-0.382691,0.140162,0.563580,-3.453124,1.372160,1.192668
4,Angola,AGO,-0.234946,0.838227,9.937307,-0.466061,7.127077,11.009566,7.614219,9.935109,...,1.106331,1.030729,-2.642975,-6.011891,-3.630695,-4.676670,-4.017114,-8.672432,-1.954598,-0.096755

In [10]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_gdp_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="GDP")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year   GDP
0                  Afghanistan          AFG  2000  0.85
1  Africa Eastern and Southern          AFE  2000  0.75
2   Africa Western and Central          AFW  2000  0.96
3                      Albania          ALB  2000  7.63
4                      Algeria          DZA  2000  2.35

In [11]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/GDP.csv', index=False)