In [13]:
import pandas as pd
import os

In [14]:
import_tech = "Import_technology.csv"
import_tech_df = pd.read_csv(import_tech, sep="\t")
import_tech_df

           Data Source,"World Development Indicators",
0                      Last Updated Date,"2023-06-29",
1    Country Name,"Country Code","Indicator Name","...
2    Aruba,"ABW","Communications, computer, etc. (%...
3    Africa Eastern and Southern,"AFE","Communicati...
4    Afghanistan,"AFG","Communications, computer, e...
..                                                 ...
263  Kosovo,"XKX","Communications, computer, etc. (...
264  Yemen, Rep.,"YEM","Communications, computer, e...
265  South Africa,"ZAF","Communications, computer, ...
266  Zambia,"ZMB","Communications, computer, etc. (...
267  Zimbabwe,"ZWE","Communications, computer, etc....

[268 rows x 1 columns]

In [15]:
list(import_tech_df)

['Data Source,"World Development Indicators",']

In [16]:
# Get the contents of row 2
row_2_data = import_tech_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [17]:
split_data = import_tech_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_import_tech_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_import_tech_df = pd.concat([cleaned_import_tech_df, split_data.iloc[:, 4:]], axis=1)
cleaned_import_tech_df = cleaned_import_tech_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_import_tech_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Communications",computer,etc. (% of service imports,"BoP)""","""BM.GSR.CMCP.ZS""","""""","""""","""""",...,"""48.0146361295568""","""46.9069323454773""","""47.1085055650574""","""44.0156384883303""","""47.443127362044""","""46.7423534600308""","""46.8546854829077""","""45.20404216062""","""47.261112303909""","""45.7147906534196"",""42.6830881241231"","
2,Africa Eastern and Southern,"""AFE""","""Communications",computer,etc. (% of service imports,"BoP)""","""BM.GSR.CMCP.ZS""","""""","""""","""""",...,"""47.7987330918209""","""47.4354846832054""","""48.2819787544865""","""44.6888451947343""","""45.2022915180981""","""42.5270898717281""","""41.1691797379926""","""38.3355161455078""","""43.6961943060344""","""41.8167117883715"",""39.1087510570482"","
3,Afghanistan,"""AFG""","""Communications",computer,etc. (% of service imports,"BoP)""","""BM.GSR.CMCP.ZS""","""""","""""","""""",...,"""29.5147855547543""","""19.5550846845568""","""24.480701675051""","""13.177997594308""","""10.9855953667733""","""9.26027933204912""","""13.5105997661582""","""12.0688453489793""","""12.1766633350475""",""""","""","
4,Africa Western and Central,"""AFW""","""Communications",computer,etc. (% of service imports,"BoP)""","""BM.GSR.CMCP.ZS""","""""","""""","""""",...,"""34.1799179713274""","""37.3804951291666""","""40.6431870494634""","""38.0986992179466""","""38.7072032823083""","""43.0132996621098""","""46.5018470068483""","""48.7914646628013""","""49.4415036387868""","""42.3393475917652"","""","

In [18]:
# Assign row 0 as column names
cleaned_import_tech_df.columns = cleaned_import_tech_df.iloc[0]

# Remove any quotation marks from column names
cleaned_import_tech_df.columns = cleaned_import_tech_df.columns.str.replace('"', '')  

# Drop row 0 from the DataFrame
cleaned_import_tech_df = cleaned_import_tech_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_import_tech_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Communications",computer,etc. (% of service imports,"BoP)""","""BM.GSR.CMCP.ZS""","""""","""""","""""",...,"""48.0146361295568""","""46.9069323454773""","""47.1085055650574""","""44.0156384883303""","""47.443127362044""","""46.7423534600308""","""46.8546854829077""","""45.20404216062""","""47.261112303909""","""45.7147906534196"",""42.6830881241231"","
1,Africa Eastern and Southern,"""AFE""","""Communications",computer,etc. (% of service imports,"BoP)""","""BM.GSR.CMCP.ZS""","""""","""""","""""",...,"""47.7987330918209""","""47.4354846832054""","""48.2819787544865""","""44.6888451947343""","""45.2022915180981""","""42.5270898717281""","""41.1691797379926""","""38.3355161455078""","""43.6961943060344""","""41.8167117883715"",""39.1087510570482"","
2,Afghanistan,"""AFG""","""Communications",computer,etc. (% of service imports,"BoP)""","""BM.GSR.CMCP.ZS""","""""","""""","""""",...,"""29.5147855547543""","""19.5550846845568""","""24.480701675051""","""13.177997594308""","""10.9855953667733""","""9.26027933204912""","""13.5105997661582""","""12.0688453489793""","""12.1766633350475""",""""","""","
3,Africa Western and Central,"""AFW""","""Communications",computer,etc. (% of service imports,"BoP)""","""BM.GSR.CMCP.ZS""","""""","""""","""""",...,"""34.1799179713274""","""37.3804951291666""","""40.6431870494634""","""38.0986992179466""","""38.7072032823083""","""43.0132996621098""","""46.5018470068483""","""48.7914646628013""","""49.4415036387868""","""42.3393475917652"","""","
4,Angola,"""AGO""","""Communications",computer,etc. (% of service imports,"BoP)""","""BM.GSR.CMCP.ZS""","""""","""""","""""",...,"""77.8819177576468""","""74.5800864859563""","""75.4242915272779""","""72.3656604104067""","""65.6042693292308""","""64.8334241373523""","""53.8924502841559""","""49.964906021409""","""43.5797908850304""","""46.2582402150242"",""47.2867081345289"","

In [19]:
# Define a function to remove double quotes from each cell
def remove_quotes(cell_value):
    if cell_value is not None:
        return cell_value.replace('"', '')
    else:
        return cell_value

# Use applymap() to remove double quotes from the entire DataFrame
cleaned_import_tech_df = cleaned_import_tech_df.applymap(remove_quotes)

# Display the first five rows of the cleaned DataFrame
cleaned_import_tech_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Communications,computer,etc. (% of service imports,BoP),BM.GSR.CMCP.ZS,,,,...,48.0146361295568,46.9069323454773,47.1085055650574,44.0156384883303,47.443127362044,46.7423534600308,46.8546854829077,45.20404216062,47.261112303909,"45.7147906534196,42.6830881241231,"
1,Africa Eastern and Southern,AFE,Communications,computer,etc. (% of service imports,BoP),BM.GSR.CMCP.ZS,,,,...,47.7987330918209,47.4354846832054,48.2819787544865,44.6888451947343,45.2022915180981,42.5270898717281,41.1691797379926,38.3355161455078,43.6961943060344,"41.8167117883715,39.1087510570482,"
2,Afghanistan,AFG,Communications,computer,etc. (% of service imports,BoP),BM.GSR.CMCP.ZS,,,,...,29.5147855547543,19.5550846845568,24.480701675051,13.177997594308,10.9855953667733,9.26027933204912,13.5105997661582,12.0688453489793,12.1766633350475,",,"
3,Africa Western and Central,AFW,Communications,computer,etc. (% of service imports,BoP),BM.GSR.CMCP.ZS,,,,...,34.1799179713274,37.3804951291666,40.6431870494634,38.0986992179466,38.7072032823083,43.0132996621098,46.5018470068483,48.7914646628013,49.4415036387868,"42.3393475917652,,"
4,Angola,AGO,Communications,computer,etc. (% of service imports,BoP),BM.GSR.CMCP.ZS,,,,...,77.8819177576468,74.5800864859563,75.4242915272779,72.3656604104067,65.6042693292308,64.8334241373523,53.8924502841559,49.964906021409,43.5797908850304,"46.2582402150242,47.2867081345289,"

In [20]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2000, 2023)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = cleaned_import_tech_df[selected_columns]

cleaned_import_tech_df = selected_columns

cleaned_import_tech_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,77.297780426039,69.9155328511459,45.7388552098335,32.3240511568943,33.0457125675392,37.1820014411982,36.6811053254075,36.93491697976,...,46.0197368421053,43.448595654478,48.0146361295568,46.9069323454773,47.1085055650574,44.0156384883303,47.443127362044,46.7423534600308,46.8546854829077,45.20404216062
1,Africa Eastern and Southern,AFE,34.5720573027855,37.1724815516875,34.5182338758995,34.0759875018078,38.6467810374381,37.4329138792909,32.5925050710672,34.3593994112249,...,45.2960297125862,48.778044727602,47.7987330918209,47.4354846832054,48.2819787544865,44.6888451947343,45.2022915180981,42.5270898717281,41.1691797379926,38.3355161455078
2,Afghanistan,AFG,,,,,,,,,...,21.4738012876866,24.5326965636478,29.5147855547543,19.5550846845568,24.480701675051,13.177997594308,10.9855953667733,9.26027933204912,13.5105997661582,12.0688453489793
3,Africa Western and Central,AFW,45.2728591368966,43.9611961372953,49.5663182679511,50.9260776554019,50.9767580969221,53.3134808350916,42.9995406027943,,...,35.297193796151,37.3289772582255,34.1799179713274,37.3804951291666,40.6431870494634,38.0986992179466,38.7072032823083,43.0132996621098,46.5018470068483,48.7914646628013
4,Angola,AGO,79.3987149864513,82.5685531918123,77.5380025900345,81.0803602188578,84.309562182182,81.2132061914574,71.7701436962032,76.0606945276413,...,76.9433844561182,81.8152135590966,77.8819177576468,74.5800864859563,75.4242915272779,72.3656604104067,65.6042693292308,64.8334241373523,53.8924502841559,49.964906021409
5,Albania,ALB,29.3479440164913,17.6866537717602,18.5775597792765,6.77847658979734,8.17383472190948,7.89210619948832,16.2957640300355,16.8400662810732,...,11.7827669951324,8.66070588534803,8.39399210649679,12.6451814667864,10.6645132359783,11.1246516025807,13.3588513234331,15.4371443953276,13.7323113951407,13.3353941272756
6,Andorra,AND,,,,,,,,,...,,,,,,,,,,47.9496374446077
7,Arab World,ARB,,,,,,,,,...,,38.6823598978244,33.9102578163306,34.5827797356789,37.2209716175336,35.5646313143913,34.352490485032,36.1607103770523,37.4034421586722,
8,United Arab Emirates,ARE,,,,,,,,,...,,,,,,,,,,
9,Argentina,ARG,18.5986892396551,18.8700734637736,19.5591009220443,21.1630334911905,23.6960679570402,30.4042663421133,29.7668644493776,31.0014218722649,...,36.9828595541647,37.995188944558,37.4849414784261,39.0279108122936,39.2966323703185,35.7330526448386,31.9733822945135,31.7075949921335,32.4823315992536,37.24186026129

In [21]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_import_tech_df = cleaned_import_tech_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_import_tech_df.columns[2:25]:
    cleaned_import_tech_df[column] = pd.to_numeric(cleaned_import_tech_df[column], errors='coerce')
    
# Display the updated DataFrame
cleaned_import_tech_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,77.297780,69.915533,45.738855,32.324051,33.045713,37.182001,36.681105,36.934917,...,46.019737,43.448596,48.014636,46.906932,47.108506,44.015638,47.443127,46.742353,46.854685,45.204042
1,Africa Eastern and Southern,AFE,34.572057,37.172482,34.518234,34.075988,38.646781,37.432914,32.592505,34.359399,...,45.296030,48.778045,47.798733,47.435485,48.281979,44.688845,45.202292,42.527090,41.169180,38.335516
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.473801,24.532697,29.514786,19.555085,24.480702,13.177998,10.985595,9.260279,13.510600,12.068845
3,Africa Western and Central,AFW,45.272859,43.961196,49.566318,50.926078,50.976758,53.313481,42.999541,NaN,...,35.297194,37.328977,34.179918,37.380495,40.643187,38.098699,38.707203,43.013300,46.501847,48.791465
4,Angola,AGO,79.398715,82.568553,77.538003,81.080360,84.309562,81.213206,71.770144,76.060695,...,76.943384,81.815214,77.881918,74.580086,75.424292,72.365660,65.604269,64.833424,53.892450,49.964906

In [22]:
# Step 3: Perform data interpolation on the numeric columns
cleaned_import_tech_df = cleaned_import_tech_df.interpolate()
cleaned_import_tech_df.head(5)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,77.297780,69.915533,45.738855,32.324051,33.045713,37.182001,36.681105,36.934917,...,46.019737,43.448596,48.014636,46.906932,47.108506,44.015638,47.443127,46.742353,46.854685,45.204042
1,Africa Eastern and Southern,AFE,34.572057,37.172482,34.518234,34.075988,38.646781,37.432914,32.592505,34.359399,...,45.296030,48.778045,47.798733,47.435485,48.281979,44.688845,45.202292,42.527090,41.169180,38.335516
2,Afghanistan,AFG,39.922458,40.566839,42.042276,42.501033,44.811770,45.373197,37.796023,48.259831,...,21.473801,24.532697,29.514786,19.555085,24.480702,13.177998,10.985595,9.260279,13.510600,12.068845
3,Africa Western and Central,AFW,45.272859,43.961196,49.566318,50.926078,50.976758,53.313481,42.999541,62.160263,...,35.297194,37.328977,34.179918,37.380495,40.643187,38.098699,38.707203,43.013300,46.501847,48.791465
4,Angola,AGO,79.398715,82.568553,77.538003,81.080360,84.309562,81.213206,71.770144,76.060695,...,76.943384,81.815214,77.881918,74.580086,75.424292,72.365660,65.604269,64.833424,53.892450,49.964906

In [23]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_import_tech_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="High Tech Import")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year", "Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  High Tech Import
0                  Afghanistan          AFG  2000             39.92
1  Africa Eastern and Southern          AFE  2000             34.57
2   Africa Western and Central          AFW  2000             45.27
3                      Albania          ALB  2000             29.35
4                      Algeria          DZA  2000             27.38

In [24]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/High_Tech_Import.csv', index=False)