In [1]:
#Import Dependancies
import pandas as pd
import os

In [2]:
#Import File
poverty = 'Poverty_Count.csv'
poverty_df = pd.read_csv(poverty,  sep="\t")
poverty_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-07-25",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Poverty headcount ratio at $2.15 ...
3  Africa Eastern and Southern,"AFE","Poverty hea...
4  Afghanistan,"AFG","Poverty headcount ratio at ...
5  Africa Western and Central,"AFW","Poverty head...
6  Angola,"AGO","Poverty headcount ratio at $2.15...
7  Albania,"ALB","Poverty headcount ratio at $2.1...
8  Andorra,"AND","Poverty headcount ratio at $2.1...
9  Arab World,"ARB","Poverty headcount ratio at $...

In [3]:
list(poverty_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = poverty_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
# Split columns
split_data = poverty_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_poverty_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_poverty_df = pd.concat([split_poverty_df, split_data.iloc[:, 4:]], axis=1)
split_poverty_df = split_poverty_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_poverty_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
3,Afghanistan,"""AFG""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
4,Africa Western and Central,"""AFW""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
5,Angola,"""AGO""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""31.1""","""""","""""","""""","""""",,None
6,Albania,"""ALB""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""0.1""","""0.1""","""0.4""","""0""","""0""","""0""","""""","""""",,None
7,Andorra,"""AND""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
8,Arab World,"""ARB""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
9,United Arab Emirates,"""ARE""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""0""","""""","""""","""""","""""",,None

In [6]:
# Assign row 0 as column names
split_poverty_df.columns = split_poverty_df.iloc[0]

# Remove any quotation marks from column names
split_poverty_df.columns = split_poverty_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_poverty_df = split_poverty_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_poverty_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
1,Africa Eastern and Southern,"""AFE""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
2,Afghanistan,"""AFG""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
3,Africa Western and Central,"""AFW""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
4,Angola,"""AGO""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""31.1""","""""","""""","""""","""""",,None
5,Albania,"""ALB""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""0.1""","""0.1""","""0.4""","""0""","""0""","""0""","""""","""""",,None
6,Andorra,"""AND""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
7,Arab World,"""ARB""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
8,United Arab Emirates,"""ARE""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""0""","""""","""""","""""","""""",,None
9,Argentina,"""ARG""","""Poverty headcount ratio at $2.15 a day (2017 ...","""SI.POV.DDAY""","""""","""""","""""","""""","""""","""""",...,"""""","""0.7""","""0.4""","""0.8""","""0.8""","""1.1""","""1""","""""",,None

In [7]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2000, 2023)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_poverty_df[selected_columns]

cleaned_poverty_df = selected_columns

cleaned_poverty_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,"""ABW""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
1,Africa Eastern and Southern,"""AFE""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
2,Afghanistan,"""AFG""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
3,Africa Western and Central,"""AFW""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
4,Angola,"""AGO""","""21.4""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""31.1""","""""","""""","""""",""""""
5,Albania,"""ALB""","""""","""""","""1.1""","""""","""""","""0.6""","""""","""""",...,"""""","""1""","""0.1""","""0.1""","""0.4""","""0""","""0""","""0""","""""",""""""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
8,United Arab Emirates,"""ARE""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""0""","""""","""""","""""","""""","""0""","""""","""""","""""",""""""
9,Argentina,"""ARG""","""5""","""8.2""","""12.4""","""5.3""","""3.8""","""2.6""","""2.1""","""1.7""",...,"""0.6""","""0.6""","""""","""0.7""","""0.4""","""0.8""","""0.8""","""1.1""","""1""",""""""

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_poverty_df = cleaned_poverty_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_poverty_df.columns[2:25]:
    cleaned_poverty_df[column] = pd.to_numeric(cleaned_poverty_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_poverty_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,21.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,31.1,NaN,NaN,NaN,NaN

In [9]:
# Step 3: Perform data interpolation on the numeric columns
cleaned_poverty_df = cleaned_poverty_df.interpolate()
cleaned_poverty_df.head(5)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,21.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,31.1,NaN,NaN,NaN,NaN

In [10]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_poverty_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Poverty Count")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Poverty Count
0                  Afghanistan          AFG  2000            NaN
1  Africa Eastern and Southern          AFE  2000            NaN
2   Africa Western and Central          AFW  2000            NaN
3                      Albania          ALB  2000          18.12
4                      Algeria          DZA  2000          14.90

In [11]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Poverty_Count.csv', index=False)