In [1]:
#Import Dependancies
import pandas as pd
import os

In [2]:
#Import File
ip_income = 'Recipient_of IP_Income.csv'
ip_income_df = pd.read_csv(ip_income,  sep="\t")
ip_income_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Charges for the use of intellectu...
3  Africa Eastern and Southern,"AFE","Charges for...
4  Afghanistan,"AFG","Charges for the use of inte...
5  Africa Western and Central,"AFW","Charges for ...
6  Angola,"AGO","Charges for the use of intellect...
7  Albania,"ALB","Charges for the use of intellec...
8  Andorra,"AND","Charges for the use of intellec...
9  Arab World,"ARB","Charges for the use of intel...

In [3]:
list(ip_income_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = ip_income_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
# Split columns
split_data = ip_income_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_ip_income_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_ip_income_df = pd.concat([split_ip_income_df, split_data.iloc[:, 4:]], axis=1)
split_ip_income_df = split_ip_income_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_ip_income_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""8645172.62569832""","""10903194.972067""","""13810224.5810056""","""""","""""","""16533453.287263""","""16848539.3339724""","""10210598.3145219""","""12319999.116496""","""14197498.4744828"","
2,Africa Eastern and Southern,"""AFE""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""5599997.76224089""","""5599997.76224089""","""8399996.64336134""","""15399993.8461625""",...,"""2379213510.25123""","""2368730261.33278""","""2256460184.69738""","""2394607870.65437""","""2552763140.71723""","""2161661760.55854""","""1787646004.50884""","""1671894738.807""","""1895894901.42144""","""1720255710.72539"","
3,Afghanistan,"""AFG""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""10944020.3116408""","""107890.10906887""","""242475.541833949""","""36802.95""","""180660.399927953""","""2402430.87491251""","""4778790.72133592""","""6111813.8157338""","""""",""""","
4,Africa Western and Central,"""AFW""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""278039100.438778""","""289056236.188106""","""276882578.310601""","""273617352.791183""","""278307224.628641""","""332642747.646662""","""500983672.425446""","""436502606.056328""","""518136175.423754""","""254051734.022154"","
5,Angola,"""AGO""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""212220137.27""","""252852819.11""","""264702200""","""212229720""","""221726875.72""","""246614994.79""","""127168951.47""","""129608227.29""","""121666360""","""222726990"","
6,Albania,"""ALB""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""22607333.7766244""","""21881927.417607""","""24578013.7488837""","""23163082.2844536""","""13132426.9115916""","""26412466.5010989""","""34784215.26461""","""38609323.641355""","""34763724.472583""","""31727566.8165585"","
7,Andorra,"""AND""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""264666.163607838""","""482661.270612958""","""596311.549435029""",""""","
8,Arab World,"""ARB""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""611288303.496562""","""570922126.010764""","""637828488.803832""","""728556130.762444""","""601386272.489033""","""647807315.750691""","""669028245.492478""","""635735619.464593""","""762787898.109103""","""301703037.644945"","
9,United Arab Emirates,"""ARE""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""","

In [6]:
# Assign row 0 as column names
split_ip_income_df.columns = split_ip_income_df.iloc[0]

# Remove any quotation marks from column names
split_ip_income_df.columns = split_ip_income_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_ip_income_df = split_ip_income_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_ip_income_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""8645172.62569832""","""10903194.972067""","""13810224.5810056""","""""","""""","""16533453.287263""","""16848539.3339724""","""10210598.3145219""","""12319999.116496""","""14197498.4744828"","
1,Africa Eastern and Southern,"""AFE""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""5599997.76224089""","""5599997.76224089""","""8399996.64336134""","""15399993.8461625""",...,"""2379213510.25123""","""2368730261.33278""","""2256460184.69738""","""2394607870.65437""","""2552763140.71723""","""2161661760.55854""","""1787646004.50884""","""1671894738.807""","""1895894901.42144""","""1720255710.72539"","
2,Afghanistan,"""AFG""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""10944020.3116408""","""107890.10906887""","""242475.541833949""","""36802.95""","""180660.399927953""","""2402430.87491251""","""4778790.72133592""","""6111813.8157338""","""""",""""","
3,Africa Western and Central,"""AFW""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""278039100.438778""","""289056236.188106""","""276882578.310601""","""273617352.791183""","""278307224.628641""","""332642747.646662""","""500983672.425446""","""436502606.056328""","""518136175.423754""","""254051734.022154"","
4,Angola,"""AGO""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""212220137.27""","""252852819.11""","""264702200""","""212229720""","""221726875.72""","""246614994.79""","""127168951.47""","""129608227.29""","""121666360""","""222726990"","
5,Albania,"""ALB""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""22607333.7766244""","""21881927.417607""","""24578013.7488837""","""23163082.2844536""","""13132426.9115916""","""26412466.5010989""","""34784215.26461""","""38609323.641355""","""34763724.472583""","""31727566.8165585"","
6,Andorra,"""AND""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""264666.163607838""","""482661.270612958""","""596311.549435029""",""""","
7,Arab World,"""ARB""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""611288303.496562""","""570922126.010764""","""637828488.803832""","""728556130.762444""","""601386272.489033""","""647807315.750691""","""669028245.492478""","""635735619.464593""","""762787898.109103""","""301703037.644945"","
8,United Arab Emirates,"""ARE""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""","
9,Argentina,"""ARG""","""Charges for the use of intellectual property",payments (BoP,"current US$)""","""BM.GSR.ROYL.CD""","""""","""""","""""","""""",...,"""2329270062.45138""","""2098996165.63338""","""2178066123.6149""","""2108388364.21439""","""2350351644.7677""","""2054243292.96211""","""1688980858.85513""","""1149104742.16619""","""1397946195.96373""","""1706885414.8243"","

In [7]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2000, 2023)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_ip_income_df[selected_columns]

cleaned_ip_income_df = selected_columns

cleaned_ip_income_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,"""ABW""","""""","""480446.927374302""","""458100.558659218""","""1564245.81005587""","""3391061.45251397""","""4217877.09497207""","""4547486.03351955""","""6771959.27880357""",...,"""10558659.2178771""","""9720670.39106145""","""8645172.62569832""","""10903194.972067""","""13810224.5810056""","""""","""""","""16533453.287263""","""16848539.3339724""","""10210598.3145219"""
1,Africa Eastern and Southern,"""AFE""","""343401984.91352""","""329550880.441077""","""396369882.141538""","""458714373.790437""","""587668403.787097""","""762155199.05751""","""1066498399.69093""","""1260750199.58289""",...,"""2218812932.79466""","""2366000693.41856""","""2379213510.25123""","""2368730261.33278""","""2256460184.69738""","""2394607870.65437""","""2552763140.71723""","""2161661760.55854""","""1787646004.50884""","""1671894738.807"""
2,Afghanistan,"""AFG""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""47084262.04""","""10738034.5335198""","""10944020.3116408""","""107890.10906887""","""242475.541833949""","""36802.95""","""180660.399927953""","""2402430.87491251""","""4778790.72133592""","""6111813.8157338"""
3,Africa Western and Central,"""AFW""","""7558945.356209""","""11836951.4148913""","""12565896.594549""","""8571818.72508944""","""7642540.62719767""","""56895380.2244889""","""15260467.6896756""","""105306761.340253""",...,"""251239858.934063""","""283984358.688477""","""278039100.438778""","""289056236.188106""","""276882578.310601""","""273617352.791183""","""278307224.628641""","""332642747.646662""","""500983672.425446""","""436502606.056328"""
4,Angola,"""AGO""","""1170000""","""1660000""","""5630000""","""430000""","""""","""""","""2495000""","""3378446.38""",...,"""3185000""","""224315044.600047""","""212220137.27""","""252852819.11""","""264702200""","""212229720""","""221726875.72""","""246614994.79""","""127168951.47""","""129608227.29"""
5,Albania,"""ALB""","""""","""""","""""","""""","""""","""8358857.12""","""4942627.61""","""4204267.36202606""",...,"""12703928.1780979""","""23362460.0492865""","""22607333.7766244""","""21881927.417607""","""24578013.7488837""","""23163082.2844536""","""13132426.9115916""","""26412466.5010989""","""34784215.26461""","""38609323.641355"""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""264666.163607838""","""482661.270612958"""
7,Arab World,"""ARB""","""566753377.636297""","""532460827.801471""","""423152345.967249""","""402587709.238495""","""220064041.934977""","""210484830.340776""","""164739257.323495""","""289649778.388442""",...,"""422359090.712274""","""590060804.170495""","""611288303.496562""","""570922126.010764""","""637828488.803832""","""728556130.762444""","""601386272.489033""","""647807315.750691""","""669028245.492478""","""635735619.464593"""
8,United Arab Emirates,"""ARE""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
9,Argentina,"""ARG""","""590352559.088508""","""582160100.056829""","""580337544.850569""","""564137635.39202""","""351280000""","""402950000""","""520630000""","""650640000""",...,"""2079139111.3222""","""2216992899.83386""","""2329270062.45138""","""2098996165.63338""","""2178066123.6149""","""2108388364.21439""","""2350351644.7677""","""2054243292.96211""","""1688980858.85513""","""1149104742.16619"""

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_ip_income_df = cleaned_ip_income_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_ip_income_df.columns[2:25]:
    cleaned_ip_income_df[column] = pd.to_numeric(cleaned_ip_income_df[column], errors='coerce')
    
# Generate the list of columns from "2000" to "2022"
start_year = 2000
end_year = 2022
numerical_columns = [str(year) for year in range(start_year, end_year + 1)]
    
# Divide the columns by 1 billion
cleaned_ip_income_df[numerical_columns] = cleaned_ip_income_df[numerical_columns].div(1000000)    

# Display the updated DataFrame
cleaned_ip_income_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,0.480447,0.458101,1.564246,3.391061,4.217877,4.547486,6.771959,...,10.558659,9.720670,8.645173,10.903195,13.810225,NaN,NaN,16.533453,16.848539,10.210598
1,Africa Eastern and Southern,AFE,343.401985,329.550880,396.369882,458.714374,587.668404,762.155199,1066.498400,1260.750200,...,2218.812933,2366.000693,2379.213510,2368.730261,2256.460185,2394.607871,2552.763141,2161.661761,1787.646005,1671.894739
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.084262,10.738035,10.944020,0.107890,0.242476,0.036803,0.180660,2.402431,4.778791,6.111814
3,Africa Western and Central,AFW,7.558945,11.836951,12.565897,8.571819,7.642541,56.895380,15.260468,105.306761,...,251.239859,283.984359,278.039100,289.056236,276.882578,273.617353,278.307225,332.642748,500.983672,436.502606
4,Angola,AGO,1.170000,1.660000,5.630000,0.430000,NaN,NaN,2.495000,3.378446,...,3.185000,224.315045,212.220137,252.852819,264.702200,212.229720,221.726876,246.614995,127.168951,129.608227

In [9]:
# Perform data interpolation on the numeric columns
cleaned_ip_income_df = cleaned_ip_income_df.interpolate()
cleaned_ip_income_df.head(5)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,0.480447,0.458101,1.564246,3.391061,4.217877,4.547486,6.771959,...,10.558659,9.720670,8.645173,10.903195,13.810225,NaN,NaN,16.533453,16.848539,10.210598
1,Africa Eastern and Southern,AFE,343.401985,329.550880,396.369882,458.714374,587.668404,762.155199,1066.498400,1260.750200,...,2218.812933,2366.000693,2379.213510,2368.730261,2256.460185,2394.607871,2552.763141,2161.661761,1787.646005,1671.894739
2,Afghanistan,AFG,175.480465,170.693916,204.467889,233.643096,297.655472,409.525290,540.879434,683.028480,...,47.084262,10.738035,10.944020,0.107890,0.242476,0.036803,0.180660,2.402431,4.778791,6.111814
3,Africa Western and Central,AFW,7.558945,11.836951,12.565897,8.571819,7.642541,56.895380,15.260468,105.306761,...,251.239859,283.984359,278.039100,289.056236,276.882578,273.617353,278.307225,332.642748,500.983672,436.502606
4,Angola,AGO,1.170000,1.660000,5.630000,0.430000,60.747916,32.627119,2.495000,3.378446,...,3.185000,224.315045,212.220137,252.852819,264.702200,212.229720,221.726876,246.614995,127.168951,129.608227

In [10]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_ip_income_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="IP Income($M)")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year", "Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  IP Income($M)
0                  Afghanistan          AFG  2000         175.48
1  Africa Eastern and Southern          AFE  2000         343.40
2   Africa Western and Central          AFW  2000           7.56
3                      Albania          ALB  2000         189.70
4                      Algeria          DZA  2000         516.94

In [11]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/IP_Income.csv', index=False)