In [1]:
#Import Dependancies
import pandas as pd
import os

In [2]:
#Import File
stocks = 'Stocks_Traded.csv'
stocks_df = pd.read_csv(stocks,  sep="\t")
stocks_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Stocks traded, total value (% of ...
3  Africa Eastern and Southern,"AFE","Stocks trad...
4  Afghanistan,"AFG","Stocks traded, total value ...
5  Africa Western and Central,"AFW","Stocks trade...
6  Angola,"AGO","Stocks traded, total value (% of...
7  Albania,"ALB","Stocks traded, total value (% o...
8  Andorra,"AND","Stocks traded, total value (% o...
9  Arab World,"ARB","Stocks traded, total value (...

In [3]:
list(stocks_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = stocks_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
# Split columns
split_data = stocks_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_stocks_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_stocks_df = pd.concat([split_stocks_df, split_data.iloc[:, 4:]], axis=1)
split_stocks_df = split_stocks_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_stocks_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
2,Africa Eastern and Southern,"""AFE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
3,Afghanistan,"""AFG""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
4,Africa Western and Central,"""AFW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""0.887905580116147""","""0.854933694128718""","""""","""""","""""","""""","""0.47480046887261""","""""","""""",
5,Angola,"""AGO""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
6,Albania,"""ALB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
7,Andorra,"""AND""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
8,Arab World,"""ARB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""38.6758832830464""","""29.0377763302157""","""21.3998718786649""","""16.4407988828598""","""14.2698494789088""","""12.679124468357""","""28.5446610281298""","""""","""""",
9,United Arab Emirates,"""ARE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""34.7893264139971""","""15.5555376289744""","""13.3965921370208""","""11.3105145653636""","""5.95478136371707""","""6.99809073726634""","""10.7330890668523""","""""","""""",

In [6]:
# Assign row 0 as column names
split_stocks_df.columns = split_stocks_df.iloc[0]

# Remove any quotation marks from column names
split_stocks_df.columns = split_stocks_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_stocks_df = split_stocks_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_stocks_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
1,Africa Eastern and Southern,"""AFE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
2,Afghanistan,"""AFG""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
3,Africa Western and Central,"""AFW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""0.887905580116147""","""0.854933694128718""","""""","""""","""""","""""","""0.47480046887261""","""""","""""",
4,Angola,"""AGO""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
5,Albania,"""ALB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
6,Andorra,"""AND""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
7,Arab World,"""ARB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""38.6758832830464""","""29.0377763302157""","""21.3998718786649""","""16.4407988828598""","""14.2698494789088""","""12.679124468357""","""28.5446610281298""","""""","""""",
8,United Arab Emirates,"""ARE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""34.7893264139971""","""15.5555376289744""","""13.3965921370208""","""11.3105145653636""","""5.95478136371707""","""6.99809073726634""","""10.7330890668523""","""""","""""",
9,Argentina,"""ARG""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""0.669273860698598""","""0.453942537841681""","""0.782151178958785""","""1.02431429882039""","""0.870998502052646""","""0.666286716480174""","""0.56622858756388""","""""","""""",

In [7]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2010, 2021)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_stocks_df[selected_columns]

cleaned_stocks_df = selected_columns

cleaned_stocks_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"""ABW""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
1,Africa Eastern and Southern,"""AFE""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
2,Afghanistan,"""AFG""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
3,Africa Western and Central,"""AFW""","""1.34813544254563""","""1.25170779319388""","""0.864961599083139""","""0.797348310049023""","""1.08488860420404""","""0.887905580116147""","""0.854933694128718""","""""","""""","""""",""""""
4,Angola,"""AGO""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
5,Albania,"""ALB""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""""","""""","""19.645323140762""","""28.1401541498559""","""""","""38.6758832830464""","""29.0377763302157""","""21.3998718786649""","""16.4407988828598""","""14.2698494789088""","""12.679124468357"""
8,United Arab Emirates,"""ARE""","""25.9527767613405""","""9.56482751251492""","""4.27882015993316""","""4.66753962385421""","""""","""34.7893264139971""","""15.5555376289744""","""13.3965921370208""","""11.3105145653636""","""5.95478136371707""","""6.99809073726634"""
9,Argentina,"""ARG""","""0.453659663659484""","""0.600714181209072""","""0.462939195882696""","""0.267799853085437""","""0.405291324046884""","""0.669273860698598""","""0.453942537841681""","""0.782151178958785""","""1.02431429882039""","""0.870998502052646""","""0.666286716480174"""

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_stocks_df = cleaned_stocks_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_stocks_df.columns[2:13]:
    cleaned_stocks_df[column] = pd.to_numeric(cleaned_stocks_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_stocks_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,1.348135,1.251708,0.864962,0.797348,1.084889,0.887906,0.854934,NaN,NaN,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Perform data interpolation on the numeric columns
cleaned_stocks_df = cleaned_stocks_df.interpolate(method='linear')
cleaned_stocks_df.head(50)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,1.348135,1.251708,0.864962,0.797348,1.084889,0.887906,0.854934,NaN,NaN,NaN,NaN
4,Angola,AGO,6.269064,2.914332,5.560052,7.633050,0.971622,10.334900,7.900644,NaN,NaN,NaN,NaN
5,Albania,ALB,11.189992,4.576956,10.255142,14.468751,0.858356,19.781894,14.946355,NaN,NaN,NaN,NaN
6,Andorra,AND,16.110920,6.239580,14.950233,21.304453,0.745090,29.228889,21.992066,NaN,NaN,NaN,NaN
7,Arab World,ARB,21.031848,7.902204,19.645323,28.140154,0.631824,38.675883,29.037776,21.399872,16.440799,14.269849,12.679124
8,United Arab Emirates,ARE,25.952777,9.564828,4.278820,4.667540,0.518558,34.789326,15.555538,13.396592,11.310515,5.954781,6.998091
9,Argentina,ARG,0.453660,0.600714,0.462939,0.267800,0.405291,0.669274,0.453943,0.782151,1.024314,0.870999,0.666287
10,Armenia,ARM,22.994082,25.075456,20.520931,14.837137,12.799472,12.485647,14.235157,17.058551,16.651997,14.201612,15.479871
11,American Samoa,ASM,45.534504,49.550198,40.578923,29.406474,25.193652,24.302021,28.016371,33.334951,32.279680,27.532225,30.293455
12,Antigua and Barbuda,ATG,68.074926,74.024941,60.636915,43.975811,37.587833,36.118394,41.797585,49.611350,47.907362,40.862838,45.107039
13,Australia,AUS,90.615348,98.499683,80.694907,58.545148,49.982013,47.934768,55.578800,65.887750,63.535045,54.193451,59.920623
14,Austria,AUT,12.821068,12.450092,8.985221,5.774168,6.166573,6.488984,8.307682,6.707929,9.583181,8.666507,7.529990
15,Azerbaijan,AZE,17.047993,15.737632,12.566645,10.629979,11.477143,11.003223,8.086044,6.552657,9.489679,8.059217,6.897877
16,Burundi,BDI,21.274918,19.025173,16.148068,15.485789,16.787712,15.517462,7.864405,6.397384,9.396176,7.451926,6.265764
17,Belgium,BEL,25.501843,22.312713,19.729492,20.341599,22.098282,20.031700,7.642766,6.242112,9.302673,6.844636,5.633650
18,Benin,BEN,17.762138,16.273947,13.729402,13.921780,15.006854,16.402618,7.421127,6.086840,9.209170,6.237346,5.001537
19,Burkina Faso,BFA,10.022434,10.235182,7.729312,7.501961,7.915426,12.773537,7.199489,5.931568,9.115668,5.630056,4.369424
20,Bangladesh,BGD,2.282729,4.196416,1.729223,1.082142,0.823998,9.144455,6.977850,5.776296,9.022165,5.022765,3.737311
21,Bulgaria,BGR,0.936283,0.743288,0.557489,0.666788,1.575095,5.647174,3.962410,3.404535,5.304625,3.794242,0.247301
22,Bahrain,BHR,2.032765,1.118333,0.542559,0.905386,1.858051,2.149893,0.946969,1.032773,1.587085,2.565719,1.965497
23,Bahamas,The,1.719331,1.209715,0.493388,0.816059,1.622852,1.443861,0.636296,0.701353,1.071451,1.718364,1.318079
24,Bosnia and Herzegovina,BIH,1.405897,1.301098,0.444217,0.726732,1.387653,0.737829,0.325623,0.369933,0.555817,0.871009,0.670660
25,Belarus,BLR,1.092463,1.392480,0.395046,0.637405,1.152453,0.031797,0.014950,0.038513,0.040183,0.023654,0.023242
26,Belize,BLZ,0.779029,1.483862,0.345875,0.548078,0.917254,0.200417,0.122509,1.591523,0.294092,0.351920,0.164851
27,Bermuda,BMU,0.465595,1.575244,0.296704,0.458751,0.682055,0.369037,0.230068,3.144533,0.548002,0.680185,0.306461
28,Bolivia,BOL,21.464603,21.344401,15.914160,17.096758,15.297201,13.298523,11.766765,17.195226,15.842163,20.403283,27.877883
29,Brazil,BRA,42.463610,41.113558,31.531617,33.734764,29.912347,26.228008,23.303461,31.245919,31.136324,40.126380,55.449305
30,Barbados,BRB,51.546473,0.741734,2.515834,0.347064,0.136833,0.185250,31.156016,38.618661,38.883496,46.708386,0.259004
31,Brunei Darussalam,BRN,60.629337,17.965635,18.450001,15.022754,14.444821,15.031644,39.008572,45.991403,46.630668,53.290392,16.638290
32,Bhutan,BTN,69.712200,35.189536,34.384168,29.698444,28.752808,29.878038,46.861127,53.364145,54.377841,59.872398,33.017577
33,Botswana,BWA,78.795063,52.413438,50.318335,44.374134,43.060796,44.724432,54.713683,60.736888,62.125013,66.454404,49.396864
34,Central African Republic,CAF,87.877926,69.637339,66.252502,59.049824,57.368784,59.570825,62.566238,68.109630,69.872185,73.036410,65.776151
35,Canada,CAN,96.960789,86.861240,82.186669,73.725514,71.676772,74.417219,70.418794,75.482372,77.619357,79.618415,82.155437
36,Central Europe and the Baltics,CEB,9.556515,9.862560,8.414678,7.283134,7.532520,6.037090,7.164157,6.332748,8.302816,6.108733,5.164954
37,Switzerland,CHE,139.052826,146.174626,115.647469,86.242722,99.058372,101.035027,137.616231,121.710067,136.411964,129.326713,133.870934
38,Channel Islands,CHI,80.329003,86.427679,68.027070,51.821976,56.964453,55.746952,72.864784,65.663150,75.097607,72.037163,73.530270
39,Chile,CHL,21.605180,26.680732,20.406671,17.401231,14.870534,10.458877,8.113337,9.616233,13.783250,14.747613,13.189606
40,China,CHN,153.493744,135.657668,88.379063,58.920415,80.413820,114.163397,355.519200,162.864305,139.907740,94.067861,127.785325
41,Cote d'Ivoire,CIV,0.710011,0.649782,0.317711,0.479859,0.859139,0.816862,1.139037,131.293696,112.815378,76.071912,0.251743
42,Cameroon,CMR,2.667163,2.467903,2.174773,2.531712,1.979708,1.741592,1.841231,99.723087,85.723016,58.075963,1.264929
43,Congo,Dem. Rep.,4.624316,4.286023,4.031835,4.583565,3.100276,2.666321,2.543425,68.152477,58.630654,40.080015,2.278115
44,Congo,Rep.,6.581469,6.104144,5.888897,6.635417,4.220844,3.591051,3.245619,36.581868,31.538292,22.084066,3.291301
45,Colombia,COL,8.538622,7.922264,7.745959,8.687270,5.341412,4.515780,3.947813,5.011259,4.445930,4.088117,4.304488
46,Comoros,COM,5.726392,5.318110,5.192682,5.815226,3.604187,3.088483,2.662503,3.361208,2.994452,2.750099,2.888597
47,Cabo Verde,CPV,2.914163,2.713956,2.639404,2.943182,1.866961,1.661185,1.377192,1.711158,1.542974,1.412081,1.472707
48,Costa Rica,CRI,0.101933,0.109802,0.086127,0.071139,0.129736,0.233888,0.091882,0.061108,0.091496,0.074063,0.056817
49,Caribbean small states,CSS,0.087543,0.088366,0.079764,0.068152,0.138196,0.235857,0.071567,0.119426,0.133447,0.099849,0.057507

In [22]:
# Calculate the average for each country
average_by_country = cleaned_stocks_df.groupby('Country Code').apply(lambda group: group.drop(columns=['Country Name', 'Country Code']).mean(skipna=True, axis=1))

# Replace all 0.0 values with the corresponding country average
for col in cleaned_stocks_df.columns[2:]:
    cleaned_stocks_df[col] =cleaned_stocks_df.apply(lambda row: average_by_country[row['Country Code']][row.name] if row[col] == 0.0 else row[col], axis=1)

cleaned_stocks_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Africa Eastern and Southern,AFE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Afghanistan,AFG,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Africa Western and Central,AFW,1.348135,1.251708,0.864962,0.797348,1.084889,0.887906,0.854934,0.644535,0.644535,0.644535,0.644535
4,Angola,AGO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,Albania,ALB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,Andorra,AND,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Arab World,ARB,16.389889,16.389889,19.645323,28.140154,16.389889,38.675883,29.037776,21.399872,16.440799,14.269849,12.679124
8,United Arab Emirates,ARE,25.952777,9.564828,4.278820,4.667540,12.042619,34.789326,15.555538,13.396592,11.310515,5.954781,6.998091
9,Argentina,ARG,0.453660,0.600714,0.462939,0.267800,0.405291,0.669274,0.453943,0.782151,1.024314,0.870999,0.666287

In [23]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_stocks_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Stock Traded $B")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Stock Traded $B
0                  Afghanistan          AFG  2010             0.00
1  Africa Eastern and Southern          AFE  2010             0.00
2   Africa Western and Central          AFW  2010             1.35
3                      Albania          ALB  2010             0.00
4                      Algeria          DZA  2010             0.00

In [24]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Stock_Traded.csv', index=False)