In [18]:
#Import Dependancies
import pandas as pd
import os

In [19]:
#Import File
per_remitt = 'Personal_Remittance.csv'
per_remitt_df = pd.read_csv(per_remitt,  sep="\t")
per_remitt_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Personal remittances, received (c...
3  Africa Eastern and Southern,"AFE","Personal re...
4  Afghanistan,"AFG","Personal remittances, recei...
5  Africa Western and Central,"AFW","Personal rem...
6  Angola,"AGO","Personal remittances, received (...
7  Albania,"ALB","Personal remittances, received ...
8  Andorra,"AND","Personal remittances, received ...
9  Arab World,"ARB","Personal remittances, receiv...

In [20]:
list(per_remitt_df)

['Data Source,"World Development Indicators",']

In [21]:
# Get the contents of row 2
row_2_data = per_remitt_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [25]:
# Split columns
split_data = per_remitt_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_per_remitt_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_per_remitt_df = pd.concat([split_per_remitt_df, split_data.iloc[:, 4:]], axis=1)
split_per_remitt_df = split_per_remitt_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_per_remitt_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""7465211.17318436""","""8083713.40782122""","""52682566.1467022""","""56140340.1581912""","""36920295.448098""","""34264018.270972""","""34984040.4172566""","""35845637.1605112""","""38203853.3533978""",
2,Africa Eastern and Southern,"""AFE""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""10608587690.0081""","""10991481423.6928""","""10178689992.9643""","""10677675760.0106""","""14844760351.3452""","""14398726897.8061""","""13764891638.0122""","""16275554661.6633""","""18609324567.8369""",
3,Afghanistan,"""AFG""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""253367821.603343""","""348624717.302647""","""627710802.377386""","""822731630.245558""","""803546453.786557""","""828571904.111179""","""788917115.24523""","""300000000""","""350000000""",
4,Africa Western and Central,"""AFW""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""29072581838.8663""","""31217369941.6298""","""28385443647.8886""","""31597258310.6296""","""34559660467.4575""","""32586252955.0223""","""29206550132.4702""","""32148770623.1765""","""33171084793.7117""",
5,Angola,"""AGO""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""30971119.270778""","""11114711.6""","""3988048.38""","""1418195.84""","""1579247.15""","""3445473.46759301""","""8053050.89441933""","""12631149.3197743""","""14005491.4763133""",
6,Albania,"""ALB""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""1421007454.36595""","""1290863508.09402""","""1306009166.92504""","""1311822432.138""","""1458210055.85311""","""1472812241.61037""","""1465987212.49097""","""1718355918.32179""","""1745245135.76651""",
7,Andorra,"""AND""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""21100000""","""47416323.7388305""","""""","""""",
8,Arab World,"""ARB""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""53122149553.083""","""49328023741.0255""","""48647574274.7084""","""51685563032.7971""","""54416712130.9952""","""57002178442.6096""","""59467776316.4004""","""68619047376.259""","""68597506272.0447""",
9,United Arab Emirates,"""ARE""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",

In [26]:
# Assign row 0 as column names
split_per_remitt_df.columns = split_per_remitt_df.iloc[0]

# Remove any quotation marks from column names
split_per_remitt_df.columns = split_per_remitt_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_per_remitt_df = split_per_remitt_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_per_remitt_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""7465211.17318436""","""8083713.40782122""","""52682566.1467022""","""56140340.1581912""","""36920295.448098""","""34264018.270972""","""34984040.4172566""","""35845637.1605112""","""38203853.3533978""",
1,Africa Eastern and Southern,"""AFE""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""10608587690.0081""","""10991481423.6928""","""10178689992.9643""","""10677675760.0106""","""14844760351.3452""","""14398726897.8061""","""13764891638.0122""","""16275554661.6633""","""18609324567.8369""",
2,Afghanistan,"""AFG""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""253367821.603343""","""348624717.302647""","""627710802.377386""","""822731630.245558""","""803546453.786557""","""828571904.111179""","""788917115.24523""","""300000000""","""350000000""",
3,Africa Western and Central,"""AFW""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""29072581838.8663""","""31217369941.6298""","""28385443647.8886""","""31597258310.6296""","""34559660467.4575""","""32586252955.0223""","""29206550132.4702""","""32148770623.1765""","""33171084793.7117""",
4,Angola,"""AGO""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""30971119.270778""","""11114711.6""","""3988048.38""","""1418195.84""","""1579247.15""","""3445473.46759301""","""8053050.89441933""","""12631149.3197743""","""14005491.4763133""",
5,Albania,"""ALB""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""1421007454.36595""","""1290863508.09402""","""1306009166.92504""","""1311822432.138""","""1458210055.85311""","""1472812241.61037""","""1465987212.49097""","""1718355918.32179""","""1745245135.76651""",
6,Andorra,"""AND""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""21100000""","""47416323.7388305""","""""","""""",
7,Arab World,"""ARB""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""53122149553.083""","""49328023741.0255""","""48647574274.7084""","""51685563032.7971""","""54416712130.9952""","""57002178442.6096""","""59467776316.4004""","""68619047376.259""","""68597506272.0447""",
8,United Arab Emirates,"""ARE""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
9,Argentina,"""ARG""","""Personal remittances","received (current US$)""","""BX.TRF.PWKR.CD.DT""","""""","""""","""""","""""","""""",...,"""505346891.730357""","""494433532.139966""","""391579047.663514""","""479937459.808431""","""522441503.008565""","""561398444.719758""","""651020615.830325""","""911591594.092384""","""1258499654.17536""",

In [50]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2010, 2021)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_per_remitt_df[selected_columns]

cleaned_per_remitt_df = selected_columns

cleaned_per_remitt_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"""ABW""","""9050279.32960894""","""4972067.03910614""","""5307262.5698324""","""4860335.19553072""","""6337950.83798883""","""7465211.17318436""","""8083713.40782122""","""52682566.1467022""","""56140340.1581912""","""36920295.448098""","""34264018.270972"""
1,Africa Eastern and Southern,"""AFE""","""6529047868.12097""","""7855156171.67955""","""9436898842.18129""","""9539966327.25311""","""9473592326.1259""","""10608587690.0081""","""10991481423.6928""","""10178689992.9643""","""10677675760.0106""","""14844760351.3452""","""14398726897.8061"""
2,Afghanistan,"""AFG""","""140695166.3""","""378206657.0181""","""179116561.3764""","""219416087.481463""","""347165291.814146""","""253367821.603343""","""348624717.302647""","""627710802.377386""","""822731630.245558""","""803546453.786557""","""828571904.111179"""
3,Africa Western and Central,"""AFW""","""21884173259.2057""","""23801903316.9751""","""27623774681.5467""","""27691377000.3324""","""28076823908.16""","""29072581838.8663""","""31217369941.6298""","""28385443647.8886""","""31597258310.6296""","""34559660467.4575""","""32586252955.0223"""
4,Angola,"""AGO""","""162358.5""","""17972037""","""204751.1""","""40348853.9894801""","""36637411.3401682""","""30971119.270778""","""11114711.6""","""3988048.38""","""1418195.84""","""1579247.15""","""3445473.46759301"""
5,Albania,"""ALB""","""1717698012.16514""","""1586574271.35641""","""1552078514.34036""","""1419772515.43027""","""1281848113.75308""","""1421007454.36595""","""1290863508.09402""","""1306009166.92504""","""1311822432.138""","""1458210055.85311""","""1472812241.61037"""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""21100000"""
7,Arab World,"""ARB""","""31754690364.7879""","""37780646734.5291""","""38944864662.4978""","""45933616316.8183""","""47228856824.5072""","""53122149553.083""","""49328023741.0255""","""48647574274.7084""","""51685563032.7971""","""54416712130.9952""","""57002178442.6096"""
8,United Arab Emirates,"""ARE""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
9,Argentina,"""ARG""","""628542376.088907""","""644300740.057192""","""697379575.129916""","""577532962.100773""","""535004409.367289""","""505346891.730357""","""494433532.139966""","""391579047.663514""","""479937459.808431""","""522441503.008565""","""561398444.719758"""

In [51]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_per_remitt_df = cleaned_per_remitt_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_per_remitt_df.columns[2:13]:
    cleaned_per_remitt_df[column] = pd.to_numeric(cleaned_per_remitt_df[column], errors='coerce')
    
# List of columns from "2010" to "2020"
numerical_columns = ["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"]

# Divide the columns by 1 billion
cleaned_per_remitt_df[numerical_columns] = cleaned_per_remitt_df[numerical_columns].div(1000000)
    
# Round all numerical values to two decimal places
cleaned_per_remitt_df = cleaned_per_remitt_df.round()

# Display the updated DataFrame
cleaned_per_remitt_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,9.0,5.0,5.0,5.0,6.0,7.0,8.0,53.0,56.0,37.0,34.0
1,Africa Eastern and Southern,AFE,6529.0,7855.0,9437.0,9540.0,9474.0,10609.0,10991.0,10179.0,10678.0,14845.0,14399.0
2,Afghanistan,AFG,141.0,378.0,179.0,219.0,347.0,253.0,349.0,628.0,823.0,804.0,829.0
3,Africa Western and Central,AFW,21884.0,23802.0,27624.0,27691.0,28077.0,29073.0,31217.0,28385.0,31597.0,34560.0,32586.0
4,Angola,AGO,0.0,18.0,0.0,40.0,37.0,31.0,11.0,4.0,1.0,2.0,3.0

In [59]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_per_remitt_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Personal Remittance")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Country Name", "Year"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Step 4: Display the modified DataFrame
melted_df.head()

  Country Name Country Code  Year  Personal Remittance
0  Afghanistan          AFG  2010                141.0
1  Afghanistan          AFG  2011                378.0
2  Afghanistan          AFG  2012                179.0
3  Afghanistan          AFG  2013                219.0
4  Afghanistan          AFG  2014                347.0

In [66]:
#Sort the DataFrame by "Year" in ascending order
per_remitt_df = melted_df.sort_values(by=["Year","Country Name"])

#Reset the index of the DataFrame
per_remitt_df = per_remitt_df.reset_index(drop=True)
per_remitt_df.head(20)

                   Country Name Country Code  Year  Personal Remittance
0                   Afghanistan          AFG  2010                141.0
1   Africa Eastern and Southern          AFE  2010               6529.0
2    Africa Western and Central          AFW  2010              21884.0
3                       Albania          ALB  2010               1718.0
4                       Algeria          DZA  2010                150.0
5                American Samoa          ASM  2010                  NaN
6                       Andorra          AND  2010                  NaN
7                        Angola          AGO  2010                  0.0
8           Antigua and Barbuda          ATG  2010                 21.0
9                    Arab World          ARB  2010              31755.0
10                    Argentina          ARG  2010                629.0
11                      Armenia          ARM  2010               1440.0
12                        Aruba          ABW  2010                  9.0
13                    Australia          AUS  2010               1335.0
14                      Austria          AUT  2010               3102.0
15                   Azerbaijan          AZE  2010               1255.0
16                      Bahamas          The  2010                  NaN
17                      Bahrain          BHR  2010                  NaN
18                   Bangladesh          BGD  2010              10521.0
19                     Barbados          BRB  2010                114.0

In [60]:
# Export the DataFrame to the CSV file
per_remitt_df.to_csv('Cleaned_Data/Personal_Remittance.csv', index=False)